In [1]:
import pandas as pd

In [18]:
def get_counts(anything):
    counts ={}
    for a in anything:
        if a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

In [55]:
pd.options.display.max_rows = 50
pd.options.display.max_columns = 21

In [3]:
path_arret = "F:/Stage/data/AFC/DM arret.txt"

In [4]:
arrets = pd.read_csv(path_arret, header=0, delimiter="\t", encoding="latin-1")
arrets

,COD_TLB_RES,COD_TLB_TRNS,COD_TLB_ARRT_STTN,COD_STF_RES,COD_STF_TRNS,COD_STF_ARRT_STTN,ZONS_ARRT,COD_ZON_PHSQ_MIN,DAT_DEBT_VALD_ZON_PHSQ_MIN,COD_INS_COMM,...,COD_ZON_PHSQ_MAX,DAT_DEBT_VALD_ZON_PHSQ_MAX,LIBL_COUR_ARRT_STTN,LIBL_LONG_ARRT_STTN,POL_PDU,COOR_X_PHSQ,COOR_Y_PHSQ,CORR_DONN_STF,MOD_BUS,MOD_RER
0,123,168,1133,913,68,1133,6,6,01/07/2011,91081,...,6,01/07/2011,Le Rotoir,Le Rotoir,0,"581349,393411518","88308,4118717562",O,1,0
1,208,108,3244,208,208,3244,8,8,01/07/2011,77409,...,8,01/07/2011,ST PIERRE MO,St Pierre Moulin,0,"648173,847524997","77796,3503673696",O,1,0
2,193,100,35808,193,293,35808,4,4,01/01/2006,-1,...,4,01/01/2006,35808,35808,?,"616988,443650252","140716,811558468",N,1,0
3,193,100,16161,193,293,16161,4,4,01/01/2006,93047,...,4,01/01/2006,VICTOR HUGO,Victor Hugo,0,"616468,683052773","133535,437651189",O,1,0
4,220,106,8320,220,6,8320,4,4,01/01/2006,91064,...,4,01/01/2006,Burospace,Burospace,0,"591110,573297878","118548,266468109",O,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79325,193,100,37236,193,293,37236,4,4,01/01/2006,-1,...,4,01/01/2006,37236,37236,?,"616988,443650252","140716,811558468",N,1,0
79326,149,120,30421,149,20,30421,3,3,01/01/2006,92019,...,3,01/01/2006,Chateaubrian,Chateaubriand,0,"595033,585493287","119372,637125278",O,1,0
79327,230,139,92,410,39,92,-1,-1,01/01/2000,78208,...,-1,01/01/2000,M. CERDAN,M. CERDAN,?,-1,-1,N,1,0
79328,193,100,37645,193,293,37645,4,4,01/01/2006,-1,...,4,01/01/2006,37645,37645,?,"616988,443650252","140716,811558468",N,1,0
79329,193,100,25380,193,293,25380,4,4,01/01/2006,93005,...,4,01/01/2006,POISSONS,POISSONS,0,"612284,727686037","139797,917178056",O,1,0

In [30]:
get_counts(arrets['COD_TLB_RES'])

{'001': 23067,
 '002': 373,
 '1  ': 81,
 '10 ': 930,
 '100': 694,
 '103': 61,
 '104': 70,
 '106': 110,
 '108': 73,
 '11 ': 965,
 '111': 166,
 '112': 63,
 '113': 610,
 '115': 83,
 '116': 89,
 '12 ': 467,
 '121': 29,
 '123': 416,
 '126': 593,
 '128': 14,
 '129': 12,
 '13 ': 1267,
 '130': 28,
 '136': 57,
 '14 ': 2419,
 '140': 493,
 '141': 20,
 '145': 35,
 '146': 283,
 '147': 497,
 '149': 462,
 '15 ': 893,
 '150': 4,
 '151': 42,
 '152': 23,
 '154': 23,
 '155': 380,
 '158': 564,
 '16 ': 507,
 '161': 295,
 '164': 77,
 '166': 39,
 '167': 107,
 '168': 58,
 '169': 16,
 '170': 60,
 '173': 226,
 '176': 14,
 '177': 417,
 '18 ': 132,
 '180': 4,
 '184': 75,
 '19 ': 294,
 '190': 53,
 '191': 820,
 '192': 69,
 '193': 4952,
 '195': 1713,
 '196': 31,
 '2  ': 165,
 '20 ': 50,
 '200': 19,
 '201': 191,
 '202': 33,
 '203': 5,
 '208': 256,
 '21 ': 539,
 '210': 143,
 '212': 510,
 '213': 527,
 '214': 51,
 '216': 39,
 '218': 431,
 '219': 33,
 '220': 101,
 '224': 91,
 '227': 194,
 '228': 374,
 '230': 1230,
 '231': 39,
 '232': 40,
 '233': 142,
 '234': 78,
 '236': 75,
 '237': 67,
 '239': 314,
 '24 ': 366,
 '240': 995,
 '241': 46,
 '242': 79,
 '243': 272,
 '244': 104,
 '245': 56,
 '248': 636,
 '249': 518,
 '25 ': 287,
 '250': 178,
 '251': 324,
 '255': 29,
 '27 ': 413,
 '28 ': 91,
 '3  ': 399,
 '30 ': 710,
 '31 ': 367,
 '34 ': 4,
 '36 ': 75,
 '38 ': 200,
 '39 ': 521,
 '4  ': 396,
 '40 ': 1604,
 '41 ': 481,
 '44 ': 156,
 '45 ': 679,
 '46 ': 136,
 '5  ': 568,
 '50 ': 344,
 '51 ': 887,
 '52 ': 704,
 '54 ': 299,
 '55 ': 1494,
 '56 ': 771,
 '57 ': 371,
 '59 ': 285,
 '6  ': 531,
 '61 ': 330,
 '62 ': 548,
 '63 ': 870,
 '64 ': 72,
 '65 ': 97,
 '66 ': 447,
 '67 ': 797,
 '68 ': 341,
 '69 ': 88,
 '7  ': 22,
 '70 ': 85,
 '73 ': 46,
 '75 ': 31,
 '77 ': 931,
 '78 ': 391,
 '8  ': 1312,
 '801': 75,
 '802': 71,
 '82 ': 9,
 '84 ': 140,
 '85 ': 79,
 '86 ': 4,
 '87 ': 614,
 '88 ': 21,
 '9  ': 40,
 '92 ': 163,
 '95 ': 605,
 '96 ': 72,
 '97 ': 686,
 '98 ': 115,
 '99 ': 1070}

In [59]:
arrets = arrets[arrets.ZONS_ARRT != 'ND ']
arrets = arrets[arrets.COOR_X_PHSQ != '-1']

In [60]:
arrets

,COD_TLB_RES,COD_TLB_TRNS,COD_TLB_ARRT_STTN,COD_STF_RES,COD_STF_TRNS,COD_STF_ARRT_STTN,ZONS_ARRT,COD_ZON_PHSQ_MIN,DAT_DEBT_VALD_ZON_PHSQ_MIN,COD_INS_COMM,COD_ARRT_COMM,COD_ZON_PHSQ_MAX,DAT_DEBT_VALD_ZON_PHSQ_MAX,LIBL_COUR_ARRT_STTN,LIBL_LONG_ARRT_STTN,POL_PDU,COOR_X_PHSQ,COOR_Y_PHSQ,CORR_DONN_STF,MOD_BUS,MOD_RER
2,193,100,35808,193,293,35808,4,4,01/01/2006,-1,-1,4,01/01/2006,35808,35808,?,"616988,443650252","140716,811558468",N,1,0
3,193,100,16161,193,293,16161,4,4,01/01/2006,93047,1490007,4,01/01/2006,VICTOR HUGO,Victor Hugo,0,"616468,683052773","133535,437651189",O,1,0
4,220,106,8320,220,6,8320,4,4,01/01/2006,91064,-1,4,01/01/2006,Burospace,Burospace,0,"591110,573297878","118548,266468109",O,1,0
5,001,3,0030010068064,100,100,0030010068064,2,2,01/01/2006,92049,-1,2,01/01/2006,PLACE DES ETAT,PLACE DES ETATS-UNIS,?,"598501,833436911","124118,998066932",N,1,0
6,001,3,0030010763006,987,100,0030010763006,1,1,01/01/2006,75114,-1,1,01/01/2006,PLAISANCE,PLAISANCE,0,"598177,037106543","125811,050509275",O,1,0
7,39,139,33,39,39,33,5,5,01/01/2006,91272,3571,5,01/01/2006,COL. J. ADAM,Collège Juliette Adam,0,"584438,155579861","111235,437093641",O,1,0
9,57,157,524,57,57,524,6,6,01/07/2011,78354,1368030,6,01/07/2011,Magnanville Ly,Lycée Léopold Sedar Senghor,0,"552188,584037208","140945,14538049",O,1,0
10,45,145,45479,45,45,45479,5,5,01/01/2006,91114,1364118,5,01/01/2006,JEAN XXIII,JEAN XXIII,0,"612118,393208712","111614,906683661",O,1,0
11,001,3,0030010166009,100,100,0030010166009,3,3,01/01/2006,93039,17716,3,01/01/2006,BOULEVARD MARC,BOULEVARD MARCEL PAUL,0,"599309,442786037","135495,181686257",O,1,0
13,126,117,360,366,97,360,6,6,01/07/2011,77528,132747,6,01/07/2011,,Le Plateau,0,"624182,430686111","97086,469752711",O,1,0
14,234,175,1471,327,213,1471,3,3,01/01/2006,92063,2292186,3,01/01/2006,PASSY BUZENV,PASSY BUZENVAL,0,"588609,732397951","128802,78873261",O,1,0
15,95,203,50828,295,116,50828,5,5,01/01/2006,95250,-1,5,01/01/2006,Fose-Beaumon,Fose-Beaumon,?,"613013,673612522","155795,254537152",N,1,0
16,213,175,253,213,213,253,3,3,01/01/2006,92064,2292236,3,01/01/2006,ST CLOUD GAR,ST CLOUD GARE SNCF,0,"591251,061141332","127119,573982953",O,1,0
17,193,100,28242,193,293,28242,4,4,01/01/2006,93062,1490012,4,01/01/2006,LE PLATEAU,Le Plateau,0,"613871,377821073","132881,550569458",O,1,0
18,001,3,0030010098019,100,100,0030010098019,1,1,01/01/2006,75120,-1,1,01/01/2006,PAGANINI,PAGANINI,0,"605466,808457059","127837,981757609",O,1,0
19,001,3,0030010184027,100,100,0030010184027,3,3,01/01/2006,94034,742048,3,01/01/2006,LA PEUPLERAIE,LA PEUPLERAIE,0,"598440,788532407","117380,576342075",O,1,0
20,240,140,58801,240,40,58801,5,5,01/01/2006,77373,-1,5,01/01/2006,CLINIQUE LA,CLINIQUE LA,?,"619750,300108413","122219,48992418",N,1,0
21,218,189,268,350,350,268,6,6,01/07/2011,78291,1611654,6,01/07/2011,,Convois,0,"555681,118454606","140678,120382331",O,1,0
22,25,124,1114,309,24,1114,5,5,01/01/2006,91174,1431031,5,01/01/2006,Parc Robinso,Angoulême,0,"609280,511833548","99960,5659029053",O,1,0
24,147,203,50755,277,116,50755,5,5,01/01/2006,77514,2245843,5,01/01/2006,Vipa-Laroche,Laroche,0,"620137,63835545","138485,748698624",O,1,0
25,001,3,0030010743038,987,100,0030010743038,4,4,01/01/2006,95268,2013968,4,01/01/2006,GARGES-SARCELL,GARGES - SARCELLES RER,0,"604033,222295013","141833,026549742",O,1,0
26,70,170,44,70,70,44,5,5,01/01/2006,91182,1708372,5,01/01/2006,G. BRASSENS,LP BRASSENS,0,"606364,470838886","102851,278577561",O,1,0
27,193,203,1344,193,116,1344,5,5,01/01/2006,93073,-1,5,01/01/2006,Trf-Ruedesvi,Trf-Ruedesvi,?,"615503,960997384","144949,684449821",N,1,0
29,001,3,0030010299028,100,100,0030010299028,4,4,01/01/2006,91161,-1,4,01/01/2006,RTE DE MASSY-L,RTE DE MASSY-LES CHAMPARTS,?,"597384,229754495","112592,928235507",N,1,0
30,228,148,115,228,228,115,7,7,01/07/2011,77327,368285,7,01/07/2011,,LA PSAUVE,0,"651896,481409342","97485,1694392809",O,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79302,227,118,18029,227,18,18029,5,5,01/01/2006,91103,-1,5,01/01/2006,LES ARDRETS,LES ARDRETS,?,"597943,777447172","100235,157401138",N,1,0
79303,001,3,0030010208092,100,100,0030010208092,4,4,01/01/2006,94017,187552,4,01/01/2006,PAUL VENZAC,PAUL VENZAC,0,"616115,121043879","123445,333367519",O,1,0
79304,54,174,103,54,54,103,5,5,01/01/2006,77118,1228806,5,01/01/2006,Les Fortes T,Les Fortes Terres,0,"625701,108430673","137655,252644822",O,1,0
79305,14,141,494,14,147,494,5,5,01/01/2006,93073,-1,5,01/01/2006,HUB POSTAL,HUB POSTAL,?,"615307,27904961","143399,756129403",N,1,0
79306,62,162,244,62,62,244,6,6,01/07/2011,77280,1315935,6,01/07/2011,CROIX BLANCH,CROIX BLANCHE,0,"621793,841791459","93598,2515272603",O,1,0
79307,10,110,59511,10,10,59511,5,5,01/01/2006,91549,1832539,5,01/01/2006,Claire Joie,Claire Joie,0,"597587,003299347","105321,145232818",O,1,0
79308,13,113,10519,13,13,10519,5,5,01/01/2006,78168,-1,5,01/01/2006,Les Fontaine,Les Fontaine,?,"569899,043220157","116608,337214292",N,1,0
79309,140,140,192,40,40,192,5,5,01/01/2006,77296,-1,5,01/01/2006,Gare Lieusai,Gare Lieusai,?,"617261,107264193","103122,128869076",N,1,0
79310,193,100,36868,193,293,36868,4,4,01/01/2006,-1,-1,4,01/01/2006,36868,36868,?,"616988,443650252","140716,811558468",N,1,0
79311,136,117,349,136,97,349,6,6,01/07/2011,77192,-1,6,01/07/2011,FONTENAY,FONTENAY-TRESIGNY BOULEVARD HARDY,0,"638612,996708815","112138,675728584",O,1,0
79312,001,3,0030010753007,987,100,0030010753007,3,3,01/01/2006,92050,-1,3,01/01/2006,SADI-CARNOT-JO,SADI-CARNOT-JOLIOT-CURIE,?,"590275,987242363","132090,673224313",N,1,0
79313,8,184,442,608,84,442,8,8,01/07/2011,77431,-1,8,01/07/2011,Maison de re,Maison de re,?,"626569,439776681","62290,7450807658",N,1,0
79314,230,127,10,410,27,10,3,3,01/01/2006,92023,-1,3,01/01/2006,Mail Plaine,Mail Plaine,?,"593442,461586861","120341,197662486",N,1,0
79315,87,165,95,487,65,95,5,5,01/01/2006,77250,2285263,5,01/01/2006,PARISUD ESPA,ZAE ESPAGNE,0,"615523,616462596","104714,271964754",O,1,0
79316,001,3,0030010152045,100,100,0030010152045,3,3,01/01/2006,93027,-1,3,01/01/2006,8 MAI 1945-MET,8 MAI 1945-METRO,0,"605620,381041192","135865,060357149",O,1,0
79317,97,117,128,97,97,128,8,8,01/07/2011,77030,6878,8,01/07/2011,,Place,0,"671992,453004472","128951,604888438",O,1,0
79318,57,157,289,57,57,289,6,6,01/07/2011,78314,1455657,6,01/07/2011,,Charvets,0,"560627,680141118","143791,418078571",O,1,0
79319,8,164,50,608,64,50,7,7,01/07/2011,77048,2285533,7,01/07/2011,SQUARE THIBA,SQUARE THIBAULT,0,"628074,330398038","71751,8101392938",O,1,0
79320,24,124,1152,24,24,1152,5,5,01/01/2006,91435,278510,5,01/01/2006,Cie des Eaux,Compagnie des Eaux,0,"611373,961178061","97170,7462180511",O,1,0
79322,193,100,37371,193,293,37371,4,4,01/01/2006,-1,-1,4,01/01/2006,37371,37371,?,"616988,443650252","140716,811558468",N,1,0
79323,149,120,31500,149,20,31500,3,3,01/01/2006,92071,923868,3,01/01/2006,Les Musicien,Les Musiciens,0,"597788,168453824","120400,024486425",O,1,0
79325,193,100,37236,193,293,37236,4,4,01/01/2006,-1,-1,4,01/01/2006,37236,37236,?,"616988,443650252","140716,811558468",N,1,0
79326,149,120,30421,149,20,30421,3,3,01/01/2006,92019,923760,3,01/01/2006,Chateaubrian,Chateaubriand,0,"595033,585493287","119372,637125278",O,1,0
79328,193,100,37645,193,293,37645,4,4,01/01/2006,-1,-1,4,01/01/2006,37645,37645,?,"616988,443650252","140716,811558468",N,1,0
79329,193,100,25380,193,293,25380,4,4,01/01/2006,93005,-1,4,01/01/2006,POISSONS,POISSONS,0,"612284,727686037","139797,917178056",O,1,0

In [42]:
bus_202 = arrets[arrets['LIBL_LONG_ARRT_STTN'] == 'MARCEL BONNET']

In [51]:
get_counts(arrets['COD_TLB_RES'])

{'001': 23067,
 '002': 373,
 '1  ': 81,
 '10 ': 930,
 '100': 694,
 '103': 61,
 '104': 70,
 '106': 110,
 '108': 73,
 '11 ': 965,
 '111': 166,
 '112': 63,
 '113': 610,
 '115': 83,
 '116': 89,
 '12 ': 467,
 '121': 29,
 '123': 416,
 '126': 593,
 '128': 14,
 '129': 12,
 '13 ': 1267,
 '130': 28,
 '136': 57,
 '14 ': 2419,
 '140': 493,
 '141': 20,
 '145': 35,
 '146': 283,
 '147': 497,
 '149': 462,
 '15 ': 893,
 '150': 4,
 '151': 42,
 '152': 23,
 '154': 23,
 '155': 380,
 '158': 564,
 '16 ': 507,
 '161': 295,
 '164': 77,
 '166': 39,
 '167': 107,
 '168': 58,
 '169': 16,
 '170': 60,
 '173': 226,
 '176': 14,
 '177': 417,
 '18 ': 132,
 '180': 4,
 '184': 75,
 '19 ': 294,
 '190': 53,
 '191': 820,
 '192': 69,
 '193': 4952,
 '195': 1713,
 '196': 31,
 '2  ': 165,
 '20 ': 50,
 '200': 19,
 '201': 191,
 '202': 33,
 '203': 5,
 '208': 256,
 '21 ': 539,
 '210': 143,
 '212': 510,
 '213': 527,
 '214': 51,
 '216': 39,
 '218': 431,
 '219': 33,
 '220': 101,
 '224': 91,
 '227': 194,
 '228': 374,
 '230': 1230,
 '231': 39,
 '232': 40,
 '233': 142,
 '234': 78,
 '236': 75,
 '237': 67,
 '239': 314,
 '24 ': 366,
 '240': 995,
 '241': 46,
 '242': 79,
 '243': 272,
 '244': 104,
 '245': 56,
 '248': 636,
 '249': 518,
 '25 ': 287,
 '250': 178,
 '251': 324,
 '255': 29,
 '27 ': 413,
 '28 ': 91,
 '3  ': 399,
 '30 ': 710,
 '31 ': 367,
 '34 ': 4,
 '36 ': 75,
 '38 ': 200,
 '39 ': 521,
 '4  ': 396,
 '40 ': 1604,
 '41 ': 481,
 '44 ': 156,
 '45 ': 679,
 '46 ': 136,
 '5  ': 568,
 '50 ': 344,
 '51 ': 887,
 '52 ': 704,
 '54 ': 299,
 '55 ': 1494,
 '56 ': 771,
 '57 ': 371,
 '59 ': 285,
 '6  ': 531,
 '61 ': 330,
 '62 ': 548,
 '63 ': 870,
 '64 ': 72,
 '65 ': 97,
 '66 ': 447,
 '67 ': 797,
 '68 ': 341,
 '69 ': 88,
 '7  ': 22,
 '70 ': 85,
 '73 ': 46,
 '75 ': 31,
 '77 ': 931,
 '78 ': 391,
 '8  ': 1312,
 '801': 75,
 '802': 71,
 '82 ': 9,
 '84 ': 140,
 '85 ': 79,
 '86 ': 4,
 '87 ': 614,
 '88 ': 21,
 '9  ': 40,
 '92 ': 163,
 '95 ': 605,
 '96 ': 72,
 '97 ': 686,
 '98 ': 115,
 '99 ': 1070}

In [43]:
bus_202

,COD_TLB_RES,COD_TLB_TRNS,COD_TLB_ARRT_STTN,COD_STF_RES,COD_STF_TRNS,COD_STF_ARRT_STTN,ZONS_ARRT,COD_ZON_PHSQ_MIN,DAT_DEBT_VALD_ZON_PHSQ_MIN,COD_INS_COMM,COD_ARRT_COMM,COD_ZON_PHSQ_MAX,DAT_DEBT_VALD_ZON_PHSQ_MAX,LIBL_COUR_ARRT_STTN,LIBL_LONG_ARRT_STTN,POL_PDU,COOR_X_PHSQ,COOR_Y_PHSQ,CORR_DONN_STF,MOD_BUS,MOD_RER
70,001,3,0030010714093,987,100,0030010714093,3,3,01/01/2006,92007,20145,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598889,597335722","121694,320817214",O,1,0
2214,001,3,0030010714008,987,100,0030010714008,3,3,01/01/2006,92007,20142,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598953,563941175","121824,250343798",O,1,0
7605,001,3,0030010391035,100,100,0030010391035,3,3,01/01/2006,94016,20145,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598889,597335722","121694,320817214",O,1,0
35922,001,3,0030010197063,100,100,0030010197063,3,3,01/01/2006,94016,20145,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598889,597335722","121694,320817214",O,1,0
40402,001,3,0030010297097,100,100,0030010297097,3,3,01/01/2006,94016,20142,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598953,563941175","121824,250343798",O,1,0
41720,001,3,0030010297008,100,100,0030010297008,3,3,01/01/2006,94016,20145,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598889,597335722","121694,320817214",O,1,0
69188,001,3,0030010197008,100,100,0030010197008,3,3,01/01/2006,94016,20145,3,01/01/2006,MARCEL BONNET,MARCEL BONNET,0,"598889,597335722","121694,320817214",O,1,0

In [48]:
arrets[arrets['COD_TLB_RES'] == '005']

Empty DataFrame
Columns: [COD_TLB_RES, COD_TLB_TRNS, COD_TLB_ARRT_STTN, COD_STF_RES, COD_STF_TRNS, COD_STF_ARRT_STTN, ZONS_ARRT, COD_ZON_PHSQ_MIN, DAT_DEBT_VALD_ZON_PHSQ_MIN, COD_INS_COMM, COD_ARRT_COMM, COD_ZON_PHSQ_MAX, DAT_DEBT_VALD_ZON_PHSQ_MAX, LIBL_COUR_ARRT_STTN, LIBL_LONG_ARRT_STTN, POL_PDU, COOR_X_PHSQ, COOR_Y_PHSQ, CORR_DONN_STF, MOD_BUS, MOD_RER]
Index: []

In [28]:
bus_202 = bus_202[~bus_202.LIBL_LONG_ARRT_STTN.duplicated(keep='first')] #C'est genial

In [29]:
bus_202

,COD_TLB_RES,COD_TLB_TRNS,COD_TLB_ARRT_STTN,COD_STF_RES,COD_STF_TRNS,COD_STF_ARRT_STTN,ZONS_ARRT,COD_ZON_PHSQ_MIN,DAT_DEBT_VALD_ZON_PHSQ_MIN,COD_INS_COMM,COD_ARRT_COMM,COD_ZON_PHSQ_MAX,DAT_DEBT_VALD_ZON_PHSQ_MAX,LIBL_COUR_ARRT_STTN,LIBL_LONG_ARRT_STTN,POL_PDU,COOR_X_PHSQ,COOR_Y_PHSQ,CORR_DONN_STF,MOD_BUS,MOD_RER
4,220,106,8320,220,6,8320,4,4,01/01/2006,91064,-1,4,01/01/2006,Burospace,Burospace,0,"591110,573297878","118548,266468109",O,1,0
90,220,106,8361,220,6,8361,3,3,01/01/2006,78640,-1,3,01/01/2006,Route Milita,Route Milita,0,"589303,592839421","119675,813898258",O,1,0
420,220,106,8293,220,6,8293,4,4,01/01/2006,91064,-1,4,01/01/2006,Bievres Mair,Bievres Mair,0,"591110,473373236","117042,032791586",O,1,0
700,220,106,8030,220,6,8030,4,4,01/01/2006,91377,-1,4,01/01/2006,Ly Fustel,Ly Fustel,0,"594784,532393276","114670,011895616",O,1,0
1941,220,106,8471,220,6,8471,3,3,01/01/2006,78640,-1,3,01/01/2006,Europe Nord,Europe Nord,0,"591306,598365379","120487,242170426",O,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62939,220,106,8151,220,6,8151,4,4,01/01/2006,91312,-1,4,01/01/2006,ZI Igny,ZI Igny,0,"592780,493710969","114455,20898096",O,1,0
64804,220,106,8461,220,6,8461,3,3,01/01/2006,92048,-1,3,01/01/2006,De Lattre,De Lattre,0,"591804,326132383","120340,288411563",O,1,0
70337,220,106,8070,220,6,8070,4,4,01/01/2006,91377,-1,4,01/01/2006,Rp Pileu,Rp Pileu,0,"592975,397309983","114415,217966763",O,1,0
77355,220,106,8140,220,6,8140,4,4,01/01/2006,91477,-1,4,01/01/2006,Yvette,Yvette,0,"592078,826124938","114335,306578336",O,1,0
78848,220,106,8441,220,6,8441,3,3,01/01/2006,92023,-1,3,01/01/2006,Petit Clamar,Petit Clamar,0,"592156,10392677","119716,595059156",O,1,0

In [61]:
arrets[arrets['COD_TLB_RES'] == '1  ']

,COD_TLB_RES,COD_TLB_TRNS,COD_TLB_ARRT_STTN,COD_STF_RES,COD_STF_TRNS,COD_STF_ARRT_STTN,ZONS_ARRT,COD_ZON_PHSQ_MIN,DAT_DEBT_VALD_ZON_PHSQ_MIN,COD_INS_COMM,COD_ARRT_COMM,COD_ZON_PHSQ_MAX,DAT_DEBT_VALD_ZON_PHSQ_MAX,LIBL_COUR_ARRT_STTN,LIBL_LONG_ARRT_STTN,POL_PDU,COOR_X_PHSQ,COOR_Y_PHSQ,CORR_DONN_STF,MOD_BUS,MOD_RER
857,1,126,303,501,501,303,4,4,01/01/2006,95199,-1,4,01/01/2006,DOJAUR,DOJAUR,0,"600259,809184176","148111,493694073",O,1,0
2212,1,126,322,501,501,322,4,4,01/01/2006,95199,-1,4,01/01/2006,DOPOS1,DOPOS1,?,"599860,103001054","147827,702033466",N,1,0
6137,1,126,275,501,501,275,4,4,01/01/2006,95199,-1,4,01/01/2006,DOCHE1,DOCHE1,?,"599082,669945957","147326,07221845",N,1,0
7894,1,126,311,501,501,311,4,4,01/01/2006,95199,-1,4,01/01/2006,DOMARL,DOMARL,0,"600116,914227637","148228,407412286",O,1,0
9181,1,126,328,501,501,328,4,4,01/01/2006,95199,-1,4,01/01/2006,DOROUZ,DOROUZ,?,"599204,585873757","148149,467868347",N,1,0
9631,1,126,319,501,501,319,4,4,01/01/2006,95199,-1,4,01/01/2006,DOOMB1,DOOMB1,0,"598722,935209909","147605,870655129",O,1,0
17136,1,126,280,501,501,280,4,4,01/01/2006,95199,-1,4,01/01/2006,DOCLI1,DOCLI1,0,"599211,574902005","147165,188729429",O,1,0
18210,1,126,305,501,501,305,4,4,01/01/2006,95199,-1,4,01/01/2006,DOJON2,DOJON2,0,"598796,879275194","147406,016116133",O,1,0
19344,1,126,316,501,501,316,4,4,01/01/2006,95199,-1,4,01/01/2006,DONECK,DONECK,?,"599957,032043463","148320,339609199",N,1,0
20593,1,126,295,501,501,295,4,4,01/01/2006,95199,-1,4,01/01/2006,DOFOU2,DOFOU2,?,"598454,13763832","148093,515640764",N,1,0
29361,1,126,333,501,501,333,4,4,01/01/2006,95199,-1,4,01/01/2006,DOTOUR,DOTOUR,?,"599814,13754724","148416,26895951",N,1,0
32213,1,126,317,501,501,317,4,4,01/01/2006,95199,-1,4,01/01/2006,DONOR1,DONOR1,0,"599743,18783717","147338,060555747",O,1,0
32430,1,126,274,501,501,274,4,4,01/01/2006,95199,-1,4,01/01/2006,DOBRET,DOBRET,0,"599243,554957399","147756,756142192",O,1,0
35574,1,126,325,501,501,325,4,4,01/01/2006,95199,-1,4,01/01/2006,DOREP2,DOREP2,0,"599119,642153016","147204,160899793",O,1,0
37718,1,126,31,501,501,31,4,4,01/01/2006,95199,-1,4,01/01/2006,GARE DE DOMO,GARE DE DOMO,?,"600080,940854557","148022,558876226",N,1,0
42382,1,126,300,501,501,300,4,4,01/01/2006,95199,-1,4,01/01/2006,DOGER2,DOGER2,0,"600197,855580492","147566,893206115",O,1,0
46041,1,126,294,501,501,294,4,4,01/01/2006,95199,-1,4,01/01/2006,DOFOU1,DOFOU1,?,"598461,132630733","148105,506737465",N,1,0
46790,1,126,304,501,501,304,4,4,01/01/2006,95199,-1,4,01/01/2006,DOJON1,DOJON1,0,"598799,87714819","147413,010978948",O,1,0
46845,1,126,290,501,501,290,4,4,01/01/2006,95199,-1,4,01/01/2006,DOFER1,DOFER1,0,"598516,089499844","147863,683822892",O,1,0
48882,1,126,36,501,501,36,4,4,01/01/2006,95199,-1,4,01/01/2006,LES FOUGERES,LES FOUGERES,?,"598384,189559265","148131,488529412",N,1,0
49040,1,126,269,501,501,269,4,4,01/01/2006,95199,-1,4,01/01/2006,DOBODE,DOBODE,0,"599427,423640345","148568,157862555",O,1,0
59565,1,126,320,501,501,320,4,4,01/01/2006,95199,-1,4,01/01/2006,DOOMB2,DOOMB2,0,"598700,951361232","147611,866478498",O,1,0
59790,1,126,276,501,501,276,4,4,01/01/2006,95199,-1,4,01/01/2006,DOCHE2,DOCHE2,0,"598985,740651877","147320,07729707",O,1,0
60330,1,126,309,501,501,309,4,4,01/01/2006,95199,-1,4,01/01/2006,DOMAI1,DOMAI1,?,"599317,499197626","147454,976654506",N,1,0
60484,1,126,324,501,501,324,4,4,01/01/2006,95199,-1,4,01/01/2006,DOREP1,DOREP1,0,"599127,63636439","147210,156476204",O,1,0
62198,1,126,291,501,501,291,4,4,01/01/2006,95199,-1,4,01/01/2006,DOFER2,DOFER2,0,"598507,096145466","147867,680989564",O,1,0
63150,1,126,299,501,501,299,4,4,01/01/2006,95199,-1,4,01/01/2006,DOGER1,DOGER1,0,"600203,851187157","147570,890290277",O,1,0
65608,1,126,302,501,501,302,4,4,01/01/2006,95199,-1,4,01/01/2006,DOINDE,DOINDE,?,"599856,105610025","147527,921648162",N,1,0
65702,1,126,37,501,501,37,4,4,01/01/2006,95199,-1,4,01/01/2006,LES FOUGERES,LES FOUGERES,?,"598398,179215127","148127,491302202",N,1,0
65958,1,126,292,501,501,292,4,4,01/01/2006,95199,-1,4,01/01/2006,DOFOS1,DOFOS1,?,"600011,991588125","147524,923763719",N,1,0
72706,1,126,306,501,501,306,4,4,01/01/2006,95199,-1,4,01/01/2006,DOLONG,DOLONG,?,"599664,248510395","148546,173305205",N,1,0
72817,1,126,298,501,501,298,4,4,01/01/2006,95199,-1,4,01/01/2006,DOGAR3,DOGAR3,0,"600088,934986933","148008,569165266",O,1,0
74021,1,126,314,501,501,314,4,4,01/01/2006,95199,-1,4,01/01/2006,DOMON1,DOMON1,0,"599520,351728462","147675,814176725",O,1,0
78383,1,126,321,501,501,321,5,5,01/01/2006,95199,-1,5,01/01/2006,DOPIGA,DOPIGA,?,"598199,332420137","148635,119288464",N,1,0

In [56]:
path4 = "E:/Study/stif_gtfs/routes.txt"
routes = pd.read_csv(path4,header = 0)
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,254177100:100,848,100,100,NaN,3,NaN,000000,FFFFFF
1,287191100:191-100,822,191-100,Express 191-100,NaN,3,NaN,1AC7FF,000000
2,287094001:GOCparis,822,GO Cparis,GO C PARIS,NaN,3,NaN,000000,FFFFFF
3,057314100:100,95,100,Express 100 Les Mureaux St Quentin,NaN,3,NaN,000000,FFFFFF
4,057314143:ExpA14,95,Exp A14,Express A14 Verneuil,NaN,3,NaN,1AC7FF,000000
5,057314142:ExpA14,95,Exp A14,Express A14 Les Mureaux,NaN,3,NaN,1AC7FF,000000
6,116295008:FILEOFO,319,FILEO FO,Fileo Fosses (sur réservation),NaN,3,NaN,003BD1,FFFFFF
7,116295003:FILEOG,319,FILEO G,Fileo Goussainville (sur réservation),NaN,3,NaN,003BD1,FFFFFF
8,116277005:FILEOO,319,FILEO O,Fileo Othis (sur réservation),NaN,3,NaN,003BD1,FFFFFF
9,116295032:32,319,32,32,NaN,3,NaN,000000,FFFFFF
10,116193100:100C,914,100C,100,NaN,3,NaN,000000,FFFFFF
11,116195100:100P,758,100P,Express 100,NaN,3,NaN,000000,FFFFFF
12,116295027:27,319,27,27,NaN,3,NaN,000000,FFFFFF
13,116277010:FILEOV,319,FILEO V,Fileo Villeparisis (sur réservation),NaN,3,NaN,000000,FFFFFF
14,116295004:FILEOVB,319,FILEO VB,Fileo Villiers le Bel (sur réservation),NaN,3,NaN,003BD1,FFFFFF
15,116931007:FILEOVE,319,FILEO VE,Fileo Villepinte (sur réservation),NaN,3,NaN,003BD1,FFFFFF
16,116931002:FILEOT,319,FILEO T,Fileo Tremblay (sur réservation),NaN,3,NaN,003BD1,FFFFFF
17,116295001:FILEOS,319,FILEO S,Fileo Sarcelles (sur réservation),NaN,3,NaN,003BD1,FFFFFF
18,116931006:FILEOSL,319,FILEO SL,Fileo Sevran (sur réservation),NaN,3,NaN,003BD1,FFFFFF
19,116277009:FILEOSP,319,FILEO SP,Fileo Saint-Pathus (sur réservation),NaN,3,NaN,003BD1,FFFFFF
20,251195042:95-42,758,95-42,95-42,NaN,3,NaN,80E6BF,000000
21,251195043:95-43,758,95-43,95-43,NaN,3,NaN,A1B8CF,000000
22,251195041:95-41,758,95-41,95-41,NaN,3,NaN,006652,FFFFFF
23,251195004:95-04,758,95-04,95-04,NaN,3,NaN,1AC7FF,000000
24,251195011:95-11,758,95-11,95-11,NaN,3,NaN,BF008F,FFFFFF
...,...,...,...,...,...,...,...,...,...
1841,800:D:Bus,741,D,D,NaN,3,NaN,009149,FFFFFF
1842,800:C,741,C,C,NaN,2,NaN,E5C400,FFFFFF
1843,800:C:Bus,741,C,C,NaN,3,NaN,E5C400,FFFFFF
1844,810:B,741,B,B,NaN,2,NaN,1C83C2,FFFFFF
1845,800:E,741,E,E,NaN,2,NaN,CD659F,FFFFFF
1846,800:E:Bus,741,E,E,NaN,3,NaN,CD659F,FFFFFF
1847,800:T4,440,T4,T4,NaN,0,NaN,F1B400,FFFFFF
1848,800:T4:Bus,440,T4,T4,NaN,3,NaN,F1B400,FFFFFF
1849,800:T11,440,T11,T11 Express,NaN,0,NaN,E45E37,FFFFFF
1850,800:TER,743,TER,TER,NaN,2,NaN,000000,FFFFFF
1851,810:A,741,A,A,NaN,2,NaN,000000,FFFFFF
1852,810:A:Bus,741,A,A,NaN,3,NaN,000000,FFFFFF
1853,800:L,742,L,L,NaN,2,NaN,ADA6CE,FFFFFF
1854,800:L:Bus,742,L,L,NaN,3,NaN,ADA6CE,FFFFFF
1855,800:K,742,K,K,NaN,2,NaN,000000,FFFFFF
1856,800:J,742,J,J,NaN,2,NaN,C6CC00,FFFFFF
1857,800:J:Bus,742,J,J,NaN,3,NaN,C6CC00,FFFFFF
1858,800:N,742,N,N,NaN,2,NaN,000000,FFFFFF
1859,800:N:Bus,742,N,N,NaN,3,NaN,000000,FFFFFF
1860,800:U,742,U,U,NaN,2,NaN,DE4F75,FFFFFF
1861,800:U:Bus,742,U,U,NaN,3,NaN,DE4F75,FFFFFF
1862,800:R,742,R,R,NaN,2,NaN,000000,FFFFFF
1863,800:R:Bus,742,R,R,NaN,3,NaN,000000,FFFFFF
1864,800:P,742,P,P,NaN,2,NaN,000000,FFFFFF
1865,800:P:Bus,742,P,P,NaN,3,NaN,000000,FFFFFF

In [57]:
get_counts(routes['route_type'])

{0: 10, 1: 16, 2: 14, 3: 1823, 7: 3}

In [58]:
path_agency = "E:/Study/stif_gtfs/agency.txt"
agency = pd.read_csv(path_agency, header = 0)
agency

,agency_id,agency_name,agency_url,agency_timezone,agency_lang
0,848,Transdev Ile-de-France Lys,http://www.vianavigo.com,Europe/Paris,fr
1,822,Keolis Orly Rungis,http://www.vianavigo.com,Europe/Paris,fr
2,95,Express A14,http://www.vianavigo.com,Europe/Paris,fr
3,319,Filéo,http://www.vianavigo.com,Europe/Paris,fr
4,914,KMR,http://www.vianavigo.com,Europe/Paris,fr
5,758,Busval d'Oise,http://www.vianavigo.com,Europe/Paris,fr
6,584,TAM,http://www.vianavigo.com,Europe/Paris,fr
7,750,MAGICAL SHUTTLE,http://www.vianavigo.com,Europe/Paris,fr
8,302,Com'Bus,http://www.vianavigo.com,Europe/Paris,fr
9,303,Actipôles,http://www.vianavigo.com,Europe/Paris,fr
10,285,Phébus,http://www.vianavigo.com,Europe/Paris,fr
11,782,Titus,http://www.vianavigo.com,Europe/Paris,fr
12,783,Aubergenville,http://www.vianavigo.com,Europe/Paris,fr
13,881,Paris-Saclay,http://www.vianavigo.com,Europe/Paris,fr
14,658,ADP,http://www.vianavigo.com,Europe/Paris,fr
15,441,Navette,http://www.vianavigo.com,Europe/Paris,fr
16,354,SNCF,http://www.vianavigo.com,Europe/Paris,fr
17,916,Seine-Saint-Denis,http://www.vianavigo.com,Europe/Paris,fr
18,426,TVS,http://www.vianavigo.com,Europe/Paris,fr
19,410,CARS PERRON,http://www.vianavigo.com,Europe/Paris,fr
20,35,CARS SOEUR,http://www.vianavigo.com,Europe/Paris,fr
21,33,Cars ROSE,http://www.vianavigo.com,Europe/Paris,fr
22,726,Bouffémont,http://www.vianavigo.com,Europe/Paris,fr
23,30,CARS MOREAU,http://www.vianavigo.com,Europe/Paris,fr
24,870,VIAMO-MELUN,http://www.vianavigo.com,Europe/Paris,fr
...,...,...,...,...,...
94,295,R'bus,http://www.vianavigo.com,Europe/Paris,fr
95,14,Bus en Seine,http://www.vianavigo.com,Europe/Paris,fr
96,132,Traverciel,http://www.vianavigo.com,Europe/Paris,fr
97,855,Scolaire Est Yvelines,http://www.vianavigo.com,Europe/Paris,fr
98,266,Entre Seine et Forêt,http://www.vianavigo.com,Europe/Paris,fr
99,661,Transdev Ile-de-France Montesson Les Rabaux,http://www.vianavigo.com,Europe/Paris,fr
100,330,Resalys,http://www.vianavigo.com,Europe/Paris,fr
101,896,LE BUS DIRECT,http://www.vianavigo.com,Europe/Paris,fr
102,412,Ulys,http://www.vianavigo.com,Europe/Paris,fr
103,639,AUTOCARS DOMINIQUE,http://www.vianavigo.com,Europe/Paris,fr
104,422,LOSAY VOYAGES,http://www.vianavigo.com,Europe/Paris,fr
105,930,Brie Bus,http://www.vianavigo.com,Europe/Paris,fr
106,929,Plateau de Brie,http://www.vianavigo.com,Europe/Paris,fr
107,127,Trans Val d'Oise,http://www.vianavigo.com,Europe/Paris,fr
108,471,TICE,http://www.vianavigo.com,Europe/Paris,fr
109,339,CIF,http://www.vianavigo.com,Europe/Paris,fr
110,557,Goëlys,http://www.vianavigo.com,Europe/Paris,fr
111,15,Bus Haut Val d'Oise,http://www.vianavigo.com,Europe/Paris,fr
112,651,KVO,http://www.vianavigo.com,Europe/Paris,fr
113,829,Keolis Seine Val-De-Marne,http://www.vianavigo.com,Europe/Paris,fr
114,943,Trans'Essonne,http://www.vianavigo.com,Europe/Paris,fr
115,817,Seine Essonne Bus,http://www.vianavigo.com,Europe/Paris,fr
116,742,TRAIN,http://www.vianavigo.com,Europe/Paris,fr
117,741,RER,http://www.vianavigo.com,Europe/Paris,fr
118,743,TER,http://www.vianavigo.com,Europe/Paris,fr