In [1]:
import  pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image

In [2]:
def get_counts(anything):
    counts = {}
    for a in anything:
        if  a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

In [3]:
path_3 =  'F:/Stage/data/AFC/counts/counts_3'
data = pd.read_csv(path_3, delimiter="\t", header = 0, encoding="latin-1")

E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,2,05555646578518204505,14/03/2017,08:16:32,GARE DE LYON,1,801,0030050091300,214,57,3,810,801,ND
1,4,58112168677996473715,14/03/2017,07:03:09,PETIT-VAUX,2,2,393652,1651401,1,1,800,803,ND
2,13,58733986662879801363,14/03/2017,18:15:38,BIR-HAKEIM (GRENELLE),3,1,0030030100400,103,31,3,100,110,ND
3,22,14518383320337389570,14/03/2017,16:46:44,TRAPPES,2,2,393835,15601102,1,1,800,852,ND
4,26,78252539046252801159,14/03/2017,17:34:11,HAUSSMANN-SAINT-LAZARE,2,2,281899,26500003,1,1,800,805,ND
5,29,43724842314677126247,14/03/2017,06:05:32,AUBERVILLIERS-PANTIN (QUATRE CHEMINS),3,1,0030030030500,105,31,3,100,110,ND
6,38,35582761024116677984,14/03/2017,07:58:15,FONTENAY-AUX-ROSES,1,802,0030050280402,333,51,1,810,802,ND
7,50,61023525515334729319,14/03/2017,16:12:26,MARCEL SEMBAT-METRO,3,1,0030010126029,277,11,2,100,100,126
8,65,86519358410939464720,14/03/2017,19:49:36,CLEMENCEAU,3,1,0030010272020,8237,11,2,100,100,272
9,73,83190830723169792819,14/03/2017,20:13:57,BONNE NOUVELLE,3,1,0030030110800,103,31,3,100,110,ND
10,79,32799638832095310366,14/03/2017,08:13:23,CHAMP DE MARS-TOUR EIFFEL,2,2,393058,11640101,1,1,800,803,ND
11,84,50508698981533083564,14/03/2017,13:44:05,LES BACONNETS,1,802,0030050180503,147,52,1,810,802,ND
12,86,78478524383148766348,14/03/2017,14:49:10,GENERAL DE GAULLE - STALINGRAD,3,1,0030010317030,5130,11,2,100,100,317
13,90,05555646578518204505,14/03/2017,08:16:09,GARE DE LYON,1,801,0030050091300,239,51,1,810,801,ND
14,92,58112168677996473715,14/03/2017,18:43:19,AUSTERLITZ,2,2,547026,34410101,1,1,800,803,ND
15,100,04067105307557541933,14/03/2017,18:09:49,HAVRE-CAUMARTIN,3,1,0030030060700,106,31,3,100,110,ND
16,101,58733986662879801363,14/03/2017,22:30:17,SAINT-PLACIDE,3,1,0030030041200,161,31,3,100,110,ND
17,126,35582761024116677984,14/03/2017,17:17:40,FONTENAY-AUX-ROSES,1,802,0030050280402,243,52,1,810,802,ND
18,172,50508698981533083564,14/03/2017,17:19:12,LES BACONNETS,1,802,0030050180503,133,51,1,810,802,ND
19,175,94279463664649774754,14/03/2017,07:47:28,BRUNOY,2,2,682120,3431003,1,1,800,804,ND
20,178,05555646578518204505,14/03/2017,17:22:06,TRINITE-D'ESTIENNE D'ORVES,3,1,0030030310800,104,31,3,100,110,ND
21,179,81436157518174117240,14/03/2017,18:58:19,STADE DE FRANCE-SAINT-DENIS,2,2,164780,16500403,1,1,800,804,ND
22,199,37535286183140111215,14/03/2017,17:11:38,LES COURTILLES,3,1,0030010921065,8786,41,4,100,112,11
23,242,01310300870072006700,14/03/2017,19:22:24,PLACE CHARRAS,3,1,0030010176005,777,11,2,100,100,176
24,254,14738355525455091886,14/03/2017,17:02:12,SEVRAN-BEAUDOTTES,1,802,271445,14700901,1,1,810,802,ND
25,257,24351878581399459805,14/03/2017,12:23:25,OLYMPIADES,3,1,0030030150600,101,31,3,100,110,ND
26,260,50508698981533083564,14/03/2017,12:46:53,VITRY-SUR-SEINE,2,2,545293,22410402,1,1,800,803,ND
27,263,94279463664649774754,14/03/2017,08:21:13,GARE DE LYON,1,801,0030050091300,242,57,3,810,801,ND
28,267,16198507190863620984,14/03/2017,17:20:00,SAINT-PHILIPPE-DU-ROULE,3,1,0030030180500,101,31,3,100,110,ND
29,278,55831230359662085980,14/03/2017,07:38:50,RUE DE JOINVILLE,3,1,0030010124013,11804,11,2,100,100,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392855,13099095,83202628273035109587,14/03/2017,10:53:00,Les Sarments,130,195,288,48003,11,2,30,195,3
1392856,13099110,63954009552760280114,14/03/2017,09:31:30,BOIS-LE-ROI,2,002,682203,1441601,1,1,800,851,ND
1392857,13099112,63954009552760280114,14/03/2017,10:21:34,GARE DE LYON,3,001,0030030090800,121,31,3,100,110,ND
1392858,13099144,17904932375790758250,14/03/2017,07:48:42,LAPLACE,1,802,0030050180202,170,51,1,810,802,ND
1392859,13099146,17904932375790758250,14/03/2017,18:31:22,GIF-SUR-YVETTE,1,802,0030050181003,432,51,1,810,802,ND
1392860,13099148,17904932375790758250,14/03/2017,00:57:29,LAPLACE,1,802,0030050180202,175,52,1,810,802,ND
1392861,13099188,45993039426701202251,14/03/2017,22:27:17,MASSY-PALAISEAU,1,802,0030050180602,104,51,1,810,802,ND
1392862,13099191,45622845620778886487,14/03/2017,19:39:09,VINCENNES,1,801,0030050160201,109,51,1,810,801,ND
1392863,13099192,45622845620778886487,14/03/2017,19:45:17,VAL-DE-FONTENAY,1,801,0030050260501,152,52,1,810,801,ND
1392864,13099229,92082075111097025019,14/03/2017,17:20:22,PRESIDENT ROBERT SCHUMAN,3,001,0030010189008,372,11,2,100,100,189
1392865,13099230,92082075111097025019,14/03/2017,17:26:14,CORENTIN-CELTON,3,001,0030030280200,102,31,3,100,110,ND
1392866,13099233,45438195472914678351,14/03/2017,21:41:21,LA DEFENSE-GRANDE ARCHE,1,801,0030050170401,304,52,1,810,801,ND
1392867,13099234,45438195472914678351,14/03/2017,07:42:57,LA DEFENSE-GRANDE ARCHE,1,801,0030050170401,103,31,3,810,801,ND
1392868,13099277,80038784424562865230,14/03/2017,17:29:58,GARE SAINT LAZARE,3,001,0030010095066,13715,11,2,100,100,95
1392869,13099291,18721456883410287200,14/03/2017,06:24:01,SAINT-CYR,2,002,393223,11601001,1,1,800,852,ND
1392870,13099292,17607762558059928364,14/03/2017,18:44:40,ROME,3,001,0030030311200,102,31,3,100,110,ND
1392871,13099318,73685933586312357799,14/03/2017,16:25:36,MUSEE DE SEVRES,3,001,0030010171002,11491,11,2,100,100,171
1392872,13099335,92586163951459637641,14/03/2017,07:35:14,PONT DE CHARENTON,3,001,0030010024037,11873,11,2,100,100,24
1392873,13099336,92586163951459637641,14/03/2017,07:41:21,CHARENTON-ECOLES,3,001,0030030251300,101,31,3,100,110,ND
1392874,13099357,23909116738615351722,14/03/2017,18:51:30,MAIRIE DES LILAS - METRO,3,001,0030010105003,6984,11,2,100,100,105
1392875,13099373,06956755301916622050,14/03/2017,11:38:34,SAINT-DENIS,2,002,271015,6500505,1,1,800,853,ND
1392876,13099374,06956755301916622050,14/03/2017,23:03:33,SAINT-DENIS,2,002,271015,13500505,2,1,800,853,ND
1392877,13099388,95220845022684976437,14/03/2017,19:20:26,MICHEL-ANGE - AUTEUIL,3,001,0030010062006,5323,11,2,100,100,62
1392878,13099427,91275327765951983217,14/03/2017,08:10:34,ARGENTINE,3,001,0030030181100,102,31,3,100,110,ND
1392879,13099429,20738421309354187838,14/03/2017,08:25:56,ROBERT WAGNER,3,001,0030010016041,12033,41,4,100,112,16
1392880,13099430,20738421309354187838,14/03/2017,08:54:51,JAVEL,2,002,393066,18640201,2,1,800,803,ND
1392881,13099435,33371669723630670778,14/03/2017,09:00:29,SAINT-LAZARE,3,001,0030030060900,207,31,3,100,110,ND
1392882,13099440,00046590185045852222,14/03/2017,17:48:38,CHATILLON-MONTROUGE,3,001,0030010016001,6753,41,4,100,112,16
1392883,13099441,18502851121848883987,14/03/2017,18:43:07,EDGAR QUINET,3,001,0030030040600,101,31,3,100,110,ND
1392884,13099451,63770673800892266274,14/03/2017,12:14:20,PLACE DES FETES,3,001,0030010060042,993,11,2,100,100,60

In [5]:
data[data['NUMR_CART'] == '43724842314677126247']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
5,29,43724842314677126247,14/03/2017,06:05:32,AUBERVILLIERS-PANTIN (QUATRE CHEMINS),3,1,0030030030500,105,31,3,100,110,ND
952870,8917597,43724842314677126247,14/03/2017,15:06:04,GARE DE L'EST,3,001,0030030210900,308,31,3,100,110,ND
952878,8917685,43724842314677126247,14/03/2017,15:43:40,Inconnu,3,001,*100,5520,11,2,100,100,170

In [6]:
data[data['NUMR_CART'] == '14518383320337389570']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
3,22,14518383320337389570,14/03/2017,16:46:44,TRAPPES,2,2,393835,15601102,1,1,800,852,ND
487918,4779566,14518383320337389570,14/03/2017,16:38:00,St-Francois,136,230,165,5344,11,2,230,410,414
487928,4779654,14518383320337389570,14/03/2017,12:59:37,LA VERRIERE,2,002,393256,12601201,1,1,800,852,ND

In [7]:
data[data['NUMR_CART'] == '24351878581399459805']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
25,257,24351878581399459805,14/03/2017,12:23:25,OLYMPIADES,3,1,0030030150600,101,31,3,100,110,ND
35,345,24351878581399459805,14/03/2017,13:48:52,HAVRE-CAUMARTIN,3,1,0030030060700,107,31,3,100,110,ND
492709,4823801,24351878581399459805,14/03/2017,15:25:20,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,104,31,3,100,110,ND

In [8]:
data[data['NUMR_CART'] == '20738421309354187838']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
975967,9133828,20738421309354187838,14/03/2017,08:32:03,VIROFLAY RIVE GAUCHE,2,002,393215,4600605,1,1,800,852,ND
1392879,13099429,20738421309354187838,14/03/2017,08:25:56,ROBERT WAGNER,3,001,0030010016041,12033,41,4,100,112,16
1392880,13099430,20738421309354187838,14/03/2017,08:54:51,JAVEL,2,002,393066,18640201,2,1,800,803,ND

In [9]:
data[data['NUMR_CART'] == '00046590185045852222']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
495089,4845060,00046590185045852222,14/03/2017,07:53:32,CHATILLON-MONTROUGE,3,001,0030030270900,106,31,3,100,110,ND
976034,9134620,00046590185045852222,14/03/2017,17:30:21,DUROC,3,001,0030030020700,104,31,3,100,110,ND
1392882,13099440,00046590185045852222,14/03/2017,17:48:38,CHATILLON-MONTROUGE,3,001,0030010016001,6753,41,4,100,112,16

In [10]:
data[data['NUMR_CART'] == '95220845022684976437']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
494482,4839604,95220845022684976437,14/03/2017,08:43:06,MOUTON - DUVERNET,3,001,0030010038003,2905,11,2,100,100,38
975695,9131100,95220845022684976437,14/03/2017,16:51:15,ODEON,3,001,0030030010400,104,31,3,100,110,ND
1392877,13099388,95220845022684976437,14/03/2017,19:20:26,MICHEL-ANGE - AUTEUIL,3,001,0030010062006,5323,11,2,100,100,62

In [11]:
data['COD_NATR_VALD'] = data['COD_NATR_VALD'].astype('str')
data['HEUR_VALD'] = pd.to_datetime(data['HEUR_VALD'], format='%H:%M:%S')

In [12]:
data.iloc[0]['HEUR_VALD'] - data.iloc[6]['HEUR_VALD']

Timedelta('0 days 00:18:17')

In [104]:
data_sort = data.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_sort = data_sort.reset_indext_index(drop = True)

In [14]:
test1 = data_sort[data_sort['Unnamed: 0'] == 9131100]
test1

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
975695,9131100,95220845022684976437,14/03/2017,1900-01-01 16:51:15,ODEON,3,001,0030030010400,104,31,3,100,110,ND

In [15]:
test2 = data_sort[data_sort['Unnamed: 0'] == 4839604]
test2

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
494482,4839604,95220845022684976437,14/03/2017,1900-01-01 08:43:06,MOUTON - DUVERNET,3,001,0030010038003,2905,11,2,100,100,38

In [16]:
data_sort

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
657331,6289284,99999942845366768893,14/03/2017,1900-01-01 10:57:31,PYRENEES,3,001,0030030241400,101,31,3,100,110,ND
657319,6289196,99999942845366768893,14/03/2017,1900-01-01 17:30:51,SAINT-GERMAIN-DES-PRES,3,001,0030030021500,232,31,3,100,110,ND
175462,1723316,99999942845366768893,14/03/2017,1900-01-01 18:50:29,CHATELET,3,001,0030030010800,401,31,3,100,110,ND
753883,7153827,99999577198461515588,14/03/2017,1900-01-01 08:00:58,HOTEL DE VILLE DE FONTENAY,3,001,0030010124016,2125,11,2,100,100,124
753896,7153915,99999577198461515588,14/03/2017,1900-01-01 08:20:46,VAL DE FONTENAY RER,3,001,0030010118015,6803,11,2,100,100,118
1211427,11376859,99999577198461515588,14/03/2017,1900-01-01 19:25:28,VAL DE FONTENAY RER,3,001,0030010124022,9042,11,2,100,100,124
36261,354119,99999492695837542235,14/03/2017,1900-01-01 08:02:30,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,611,11,2,100,100,151
36251,354031,99999492695837542235,14/03/2017,1900-01-01 10:11:44,PLACE DU 19 MARS 1962,3,001,0030010151034,11948,11,2,100,100,151
36269,354207,99999492695837542235,14/03/2017,1900-01-01 12:29:00,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,1753,11,2,100,100,151
686726,6550859,99998853895565292735,14/03/2017,1900-01-01 07:56:20,MAIRIE DE ROMAINVILLE,3,001,0030010105047,983,11,2,100,100,105
686738,6550947,99998853895565292735,14/03/2017,1900-01-01 08:10:03,MAIRIE DES LILAS,3,001,0030030230300,104,31,3,100,110,ND
686750,6551035,99998853895565292735,14/03/2017,1900-01-01 17:09:35,PYRENEES,3,001,0030030241400,103,31,3,100,110,ND
1186233,11137569,99998786964033820793,14/03/2017,1900-01-01 08:29:10,RICHELIEU-DROUOT,3,001,0030030110700,401,31,3,100,110,ND
258456,2536801,99998786964033820793,14/03/2017,1900-01-01 15:53:07,LA MUETTE,3,001,0030030171100,102,31,3,100,110,ND
258466,2536889,99998786964033820793,14/03/2017,1900-01-01 20:12:29,RUE DU BAC,3,001,0030030021000,103,31,3,100,110,ND
1322443,12431870,99998614886067744792,14/03/2017,1900-01-01 09:03:24,GARE DE LYON,3,001,0030030090800,103,031,3,100,110,ND
879511,8265510,99998614886067744792,14/03/2017,1900-01-01 18:21:02,LOUIS BLANC,3,001,0030030221000,102,31,3,100,110,ND
401846,3943302,99998614886067744792,14/03/2017,1900-01-01 19:30:47,PORTE DE LA VILLETTE,3,001,0030030030400,105,31,3,100,110,ND
766471,7265193,99997990729919865119,14/03/2017,1900-01-01 09:13:04,MARCADET-POISSONNIERS,3,001,0030030200900,102,31,3,100,110,ND
766460,7265105,99997990729919865119,14/03/2017,1900-01-01 19:43:54,MAIRIE DE CLICHY,3,001,0030030190100,102,31,3,100,110,ND
286174,2810545,99997990729919865119,14/03/2017,1900-01-01 19:59:14,BROCHANT - CARDINET,3,001,0030010031034,14809,11,2,100,100,31
1149937,10789855,99997955226236728234,14/03/2017,1900-01-01 18:07:30,CERGY-SAINT-CHRISTOPHE,1,801,382499,22331201,1,1,810,801,ND
1149923,10789679,99997955226236728234,14/03/2017,1900-01-01 18:35:00,Gare d'Houilles CarriÃ¨res sur Seine,119,248,19079,3575,11,2,19,248,19
1149931,10789767,99997955226236728234,14/03/2017,1900-01-01 18:41:19,HOUILLES-CARRIERES-SUR-SEINE,1,801,386409,30320704,2,1,810,801,ND
779722,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
779733,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
779743,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND
565216,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
78367,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
1031042,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86729,851488,00001785442334661973,14/03/2017,1900-01-01 16:46:42,TISSONVILLIERS,3,001,0030010270011,8053,11,2,100,100,270
567009,5483368,00001785442334661973,14/03/2017,1900-01-01 17:12:50,GOUSSAINVILLE,2,002,276246,26521001,2,1,800,804,ND
1027240,9623416,00001785442334661973,14/03/2017,1900-01-01 17:35:00,Gosa-Goussai,142,14,427,839,11,2,14,14,32
882129,8288397,00000842771820414698,14/03/2017,1900-01-01 07:28:24,SIMPLON,3,001,0030030201000,101,31,3,100,110,ND
882139,8288485,00000842771820414698,14/03/2017,1900-01-01 15:26:41,COLONEL FABIEN,3,001,0030030221500,101,31,3,100,110,ND
1318181,12392277,00000842771820414698,14/03/2017,1900-01-01 18:37:28,JAURES,3,001,0030030221200,103,31,3,100,110,ND
575499,5559296,00000765388848043121,14/03/2017,1900-01-01 06:51:08,JEAN JAURES - DIVISION LECLERC,3,001,0030010143104,2764,11,2,100,100,143
92744,909376,00000765388848043121,14/03/2017,1900-01-01 07:14:52,AVENUE DE ROSNY,3,001,0030010147076,3288,11,2,100,100,147
575513,5559384,00000765388848043121,14/03/2017,1900-01-01 17:04:32,PONT DE BONDY - AVENUE DE ROSNY,3,001,0030010143137,11636,11,2,100,100,143
1213147,11393341,00000700438794134358,14/03/2017,1900-01-01 07:14:21,BONNIERES,2,002,415893,2321604,1,1,800,854,ND
1213153,11393429,00000700438794134358,14/03/2017,1900-01-01 08:17:25,SAINT-LAZARE,3,001,0030030060900,205,31,3,100,110,ND
757160,7182189,00000700438794134358,14/03/2017,1900-01-01 17:45:25,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,205,31,3,100,110,ND
334787,3284924,00000419190216590511,14/03/2017,1900-01-01 12:13:29,MARCEL SEMBAT,3,001,0030030280800,101,31,3,100,110,ND
334803,3285100,00000419190216590511,14/03/2017,1900-01-01 14:05:14,VICTOR HUGO,3,001,0030030181000,133,31,3,100,110,ND
334794,3285012,00000419190216590511,14/03/2017,1900-01-01 16:48:39,HAVRE-CAUMARTIN,3,001,0030030060700,102,31,3,100,110,ND
668297,6386426,00000373223616330062,14/03/2017,1900-01-01 09:11:46,PORTE MAILLOT,3,001,0030030300100,101,31,3,100,110,ND
1123184,10536506,00000373223616330062,14/03/2017,1900-01-01 17:58:46,FELIX FAURE,3,001,0030010258062,4319,11,2,100,100,258
188775,1852226,00000373223616330062,14/03/2017,1900-01-01 18:09:30,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,205,31,3,100,110,ND
1217205,11433287,00000372162654860645,14/03/2017,1900-01-01 09:10:04,JASMIN,3,001,0030030071500,132,31,3,100,110,ND
289384,2841759,00000372162654860645,14/03/2017,1900-01-01 13:43:11,PORTE DE CLIGNANCOURT,3,001,0030030200100,106,31,3,100,110,ND
289394,2841847,00000372162654860645,14/03/2017,1900-01-01 14:43:51,RIQUET,3,001,0030030220800,102,31,3,100,110,ND
1112446,10433410,00000314929418127926,14/03/2017,1900-01-01 08:52:00,Montjay,106,6,670,46643,11,2,6,6,3
182023,1787586,00000314929418127926,14/03/2017,1900-01-01 13:50:00,Gare d'Orsay Ville - ArrivÃ©e,106,6,600,46671,11,2,6,6,3
182015,1787498,00000314929418127926,14/03/2017,1900-01-01 18:17:00,Centre Commercial ulis 2,106,6,490,1822,11,2,6,6,25
991895,9286482,00000304078301919439,14/03/2017,1900-01-01 12:53:35,DUPLEIX,3,001,0030030170700,103,31,3,100,110,ND
36096,352546,00000304078301919439,14/03/2017,1900-01-01 18:35:27,SEVRES-LECOURBE,3,001,0030030020300,102,31,3,100,110,ND
991888,9286394,00000304078301919439,14/03/2017,1900-01-01 19:58:06,DUPLEIX,3,001,0030030170700,104,31,3,100,110,ND
1233820,11591792,00000269783769843637,14/03/2017,1900-01-01 09:05:26,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,1044,11,2,100,100,190
1233832,11591880,00000269783769843637,14/03/2017,1900-01-01 15:34:32,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,6173,11,2,100,100,190
1233844,11591968,00000269783769843637,14/03/2017,1900-01-01 17:11:54,MARCHE DE CLAMART,3,001,0030010190011,3132,11,2,100,100,190

In [17]:
test1.iloc[0]['HEUR_VALD'] - test2.iloc[0]['HEUR_VALD']

Timedelta('0 days 08:08:09')

In [18]:
data_select = data_sort[:10000]

In [19]:
period =pd.Series()
for x in range(0, len(data_select)-3,3):
    first = data_select.iloc[x+1]['HEUR_VALD'] - data_select.iloc[x]['HEUR_VALD']
    second = data_select.iloc[x+2]['HEUR_VALD'] - data_select.iloc[x+1]['HEUR_VALD']
    period[data_select.iloc[x]['NUMR_CART']] = [first, second]

In [20]:
period

99999942845366768893    [0 days 06:33:20, 0 days 01:19:38]
99999577198461515588    [0 days 00:19:48, 0 days 11:04:42]
99999492695837542235    [0 days 02:09:14, 0 days 02:17:16]
99998853895565292735    [0 days 00:13:43, 0 days 08:59:32]
99998786964033820793    [0 days 07:23:57, 0 days 04:19:22]
99998614886067744792    [0 days 09:17:38, 0 days 01:09:45]
99997990729919865119    [0 days 10:30:50, 0 days 00:15:20]
99997955226236728234    [0 days 00:27:30, 0 days 00:06:19]
99997804846299180110    [0 days 00:11:27, 0 days 09:35:35]
99997800772878601333    [0 days 03:30:20, 0 days 01:30:18]
99997570798660882124    [0 days 01:01:00, 0 days 00:01:00]
99997157919455987461    [0 days 08:26:08, 0 days 00:40:28]
99997027328529013521    [0 days 00:00:24, 0 days 00:05:58]
99996484813506670951    [0 days 02:29:46, 0 days 00:25:18]
99996441650234666240    [0 days 00:08:15, 0 days 13:02:02]
99996311696606791196    [0 days 00:27:28, 0 days 06:54:16]
99996283545549581179    [0 days 04:36:05, 0 days 01:14:07]
99996164253320541412    [0 days 08:20:31, 0 days 04:53:27]
99996123465281875756    [0 days 00:39:31, 0 days 10:23:50]
99995662914186286122    [0 days 10:14:47, 0 days 00:19:24]
99995587679220601600    [0 days 02:57:29, 0 days 01:18:11]
99995248842220264654    [0 days 03:56:26, 0 days 01:42:51]
99994954377616055349    [0 days 01:03:32, 0 days 00:34:14]
99994930696312615749    [0 days 00:24:33, 0 days 06:57:53]
99994701783103665215    [0 days 00:21:04, 0 days 06:12:22]
99994623185800459079    [0 days 07:34:00, 0 days 00:30:00]
99994503496590488527    [0 days 00:10:02, 0 days 02:50:01]
99994453678664675520    [0 days 00:44:38, 0 days 01:57:29]
99994402105613089205    [0 days 00:06:25, 0 days 04:43:29]
99994342111011611094    [0 days 02:55:24, 0 days 06:14:16]
                                       ...
99266455021471196553    [0 days 10:20:01, 0 days 00:21:23]
99266211979708627523    [0 days 00:32:19, 0 days 10:11:02]
99265972739041861149    [0 days 00:30:31, 0 days 08:28:25]
99265552008731535929    [0 days 00:36:35, 0 days 09:36:41]
99265348584421114903    [0 days 10:46:21, 0 days 02:27:47]
99264893465377333800    [0 days 08:06:19, 0 days 11:23:07]
99264874652540999698    [0 days 00:08:08, 0 days 06:14:25]
99264838768632471692    [0 days 00:09:20, 0 days 09:34:50]
99264225851176110661    [0 days 09:48:37, 0 days 00:57:56]
99264132941755966496    [0 days 08:47:37, 0 days 04:41:52]
99263598544333613885    [0 days 01:40:15, 0 days 03:48:36]
99263551797184906252    [0 days 00:15:57, 0 days 11:11:04]
99263267023809550972    [0 days 08:24:33, 0 days 03:05:34]
99263002110103986733    [0 days 11:41:44, 0 days 01:51:07]
99262952481450206225    [0 days 06:01:03, 0 days 05:24:16]
99262930159781190136    [0 days 10:02:15, 0 days 01:04:04]
99262817903515776019    [0 days 00:46:14, 0 days 01:58:30]
99262673056202888899    [0 days 00:56:49, 0 days 08:11:54]
99262649046704045253    [0 days 00:55:51, 0 days 08:52:57]
99262648468797124588    [0 days 02:28:22, 0 days 00:13:00]
99262478706377656654    [0 days 00:44:45, 0 days 10:00:01]
99262450644187430298    [0 days 00:31:03, 0 days 08:01:12]
99262414388308821693    [0 days 00:12:38, 0 days 10:18:49]
99262194638722764855    [0 days 06:19:05, 0 days 01:34:59]
99261808120937255044    [0 days 09:28:57, 0 days 00:15:20]
99261492309375512111    [0 days 04:47:26, 0 days 04:40:59]
99261242735299717800    [0 days 09:10:51, 0 days 00:07:26]
99260715887958640511    [0 days 01:56:03, 0 days 00:47:28]
99260343628093219723    [0 days 00:58:46, 0 days 08:21:43]
99260098892043660074    [0 days 00:09:47, 0 days 14:50:49]
Length: 3333, dtype: object

In [21]:
x = test1.iloc[0]['HEUR_VALD'] -  test2.iloc[0]['HEUR_VALD']

In [22]:
dic_test = {}
dic_test['a'] = [3,4]
dic_test

{'a': [3, 4]}

In [23]:
x.seconds

29289

In [25]:
path_nature = 'F:/Stage/data/AFC/DM nature.txt'
nature  = pd.read_csv(path_nature, header=0 , delimiter='\t')
nature

,COD_NATR_VALD,COD_ENTR_SORT,LIBL_NATR_VALD,COD_MOD,COD_NATR_VALD_AGRG
0,3,3,Entree Correspondance,1,3
1,05A,1,Entree RER,1,2
2,057,3,Sortie Correspondance RER,3,5
3,17,1,Entree Bus,2,1
4,23,3,Sortie Correspondance RER,3,5
5,041,1,entree Tramway,4,7
6,05B,2,Sortie RER,1,4
7,02,2,Sortie,1,4
8,16,3,Correspondance Bus,2,1
9,01,1,Entree,-1,10
10,04B,2,sortie Tramway,4,8
11,1,1,Entree,-1,10
12,03A,1,entree Metro,3,6
13,2,2,Sortie,1,4
14,042,2,sortie Tramway,4,8
15,011,1,Entree Bus,2,1
16,11,1,Entree Bus,2,1
17,04,3,Sortie Correspondance,3,5
18,016,3,Correspondance Bus,2,1
19,031,1,entree Metro,3,6
20,001,1,Entree bus,2,1
21,056,3,Entree Correspondance RER,1,3
22,41,1,entree T4,6,7
23,ND,ND,NON DEFINI,-1,-1
24,22,3,Entree Correspondance Bus,2,1
25,043,1,entree Tramway Sol.,4,7
26,052,2,Sortie RER,1,4
27,5B,2,Sortie RER,1,4
28,03,3,Entree Correspondance,1,3
29,051,1,Entree RER,1,2
30,5A,1,Entree RER,1,2
31,006,3,Correspondance Bus,2,1
32,04A,1,entree Tramway,4,7
33,4,3,Sortie Correspondance,3,5
34,010,1,Entree Bus,2,1

In [26]:
path_mode = 'F:/Stage/data/AFC/DM mode.txt'
mode  = pd.read_csv(path_nature, header=0 , delimiter='\t')
mode

,COD_NATR_VALD,COD_ENTR_SORT,LIBL_NATR_VALD,COD_MOD,COD_NATR_VALD_AGRG
0,3,3,Entree Correspondance,1,3
1,05A,1,Entree RER,1,2
2,057,3,Sortie Correspondance RER,3,5
3,17,1,Entree Bus,2,1
4,23,3,Sortie Correspondance RER,3,5
5,041,1,entree Tramway,4,7
6,05B,2,Sortie RER,1,4
7,02,2,Sortie,1,4
8,16,3,Correspondance Bus,2,1
9,01,1,Entree,-1,10
10,04B,2,sortie Tramway,4,8
11,1,1,Entree,-1,10
12,03A,1,entree Metro,3,6
13,2,2,Sortie,1,4
14,042,2,sortie Tramway,4,8
15,011,1,Entree Bus,2,1
16,11,1,Entree Bus,2,1
17,04,3,Sortie Correspondance,3,5
18,016,3,Correspondance Bus,2,1
19,031,1,entree Metro,3,6
20,001,1,Entree bus,2,1
21,056,3,Entree Correspondance RER,1,3
22,41,1,entree T4,6,7
23,ND,ND,NON DEFINI,-1,-1
24,22,3,Entree Correspondance Bus,2,1
25,043,1,entree Tramway Sol.,4,7
26,052,2,Sortie RER,1,4
27,5B,2,Sortie RER,1,4
28,03,3,Entree Correspondance,1,3
29,051,1,Entree RER,1,2
30,5A,1,Entree RER,1,2
31,006,3,Correspondance Bus,2,1
32,04A,1,entree Tramway,4,7
33,4,3,Sortie Correspondance,3,5
34,010,1,Entree Bus,2,1

In [54]:
get_counts(data_sort['COD_NATR_VALD'])

{'01 ': 11028,
 '011': 18169,
 '02 ': 4273,
 '03 ': 198,
 '031': 27082,
 '04 ': 255,
 '041': 3297,
 '043': 62,
 '051': 5025,
 '052': 3703,
 '056': 260,
 '057': 444,
 '1': 187080,
 '11': 360023,
 '11 ': 7042,
 '17': 7784,
 '17 ': 569,
 '2': 66376,
 '22': 34,
 '22 ': 2,
 '3': 7503,
 '31': 482642,
 '4': 10209,
 '41': 47893,
 '42': 27,
 '43': 2586,
 '51': 62738,
 '52': 46247,
 '56': 10891,
 '57': 19437,
 'ND ': 6}

In [47]:
test_6 =  data_sort[data_sort['COD_NATR_VALD'] == '006']

In [71]:
test_1 = data_sort[(data_sort['COD_NATR_VALD'] == '1') | (data_sort['COD_NATR_VALD'] == '01 ')]

In [56]:
test_3 = data_sort[(data_sort['COD_NATR_VALD'] == '3') | (data_sort['COD_NATR_VALD'] == '03 ')]

In [57]:
test_4 = data_sort[(data_sort['COD_NATR_VALD'] == '4') | (data_sort['COD_NATR_VALD'] == '04 ')]

In [58]:
test_56 = data_sort[(data_sort['COD_NATR_VALD'] == '056') | (data_sort['COD_NATR_VALD'] == '56')]

In [59]:
test_57 =  data_sort[(data_sort['COD_NATR_VALD'] == '057') | (data_sort['COD_NATR_VALD'] == '57')]

In [60]:
get_counts(test_3['Lib_Arret'])    #Entree correspondance

{'BIBLIOTHEQUE FRANCOIS MITTERRAND': 867,
 'BOULAINVILLIERS': 273,
 'GARE DU NORD': 4113,
 'HAUSSMANN-SAINT-LAZARE': 1267,
 'MAGENTA': 602,
 'SARCELLES-SAINT-BRICE': 579}

In [61]:
get_counts(test_4['Lib_Arret'])   # Sortie correspondance

{'BIBLIOTHEQUE FRANCOIS MITTERRAND': 1981,
 'BOULAINVILLIERS': 369,
 'CHAMP DE MARS-TOUR EIFFEL': 29,
 'GARE DU NORD': 4612,
 'HAUSSMANN-SAINT-LAZARE': 2376,
 'LA DEFENSE-GRANDE ARCHE': 128,
 'MAGENTA': 969}

In [62]:
get_counts(test_56['Lib_Arret'])   # Entree  correspondance RER

{'AUBER': 1237,
 'CHARLES DE GAULLE ETOILE': 863,
 'CHATELET-LES HALLES': 1571,
 'DENFERT-ROCHEREAU': 1349,
 'GARE DE LYON': 2146,
 'INVALIDES': 761,
 'LA CHAPELLE': 1171,
 'LA DEFENSE-GRANDE ARCHE': 606,
 'NATION': 1148,
 'SAINT-MICHEL NOTRE DAME': 299}

In [63]:
get_counts(test_57['Lib_Arret'])  # Sortie correspondace RER

{'AUBER': 2150,
 'CHARLES DE GAULLE ETOILE': 2699,
 'CHATELET-LES HALLES': 2770,
 'DENFERT-ROCHEREAU': 1967,
 'GARE DE LYON': 4233,
 'INVALIDES': 900,
 'LA CHAPELLE': 1353,
 'LA DEFENSE-GRANDE ARCHE': 1323,
 'NATION': 2010,
 'SAINT-MICHEL NOTRE DAME': 476}

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
250721,2460846,99997027328529013521,14/03/2017,1900-01-01 18:16:55,GARE DE LYON,1,801,0030050091300,215,57,3,810,801,ND
238552,2340876,99993844160407781116,14/03/2017,1900-01-01 16:28:55,GARE DE LYON,1,801,0030050091300,319,57,3,810,801,ND
48838,478565,99986555675739770561,14/03/2017,1900-01-01 14:41:51,CHATELET-LES HALLES,1,801,0030050011000,212,57,3,810,801,ND
476740,4671173,99974070044150110637,14/03/2017,1900-01-01 15:59:34,CHARLES DE GAULLE ETOILE,1,801,0030050170101,206,57,3,810,801,ND
1334594,12548103,99942113514081512969,14/03/2017,1900-01-01 20:00:40,AUBER,1,801,0030050060600,320,057,3,810,801,ND
735377,6985819,99931556434874836935,14/03/2017,1900-01-01 06:11:18,LA CHAPELLE,3,001,0030030220900,332,57,3,100,110,ND
229073,2247523,99926349333604614474,14/03/2017,1900-01-01 08:42:57,LA DEFENSE-GRANDE ARCHE,3,1,0030030291100,202,57,3,100,110,ND
446723,4379961,99919190390893654736,14/03/2017,1900-01-01 09:25:57,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,212,57,3,100,110,ND
110338,1082149,99906984028191873063,14/03/2017,1900-01-01 09:11:21,GARE DE LYON,1,801,0030050091300,315,57,3,810,801,ND
66305,649532,99904728277081409146,14/03/2017,1900-01-01 09:24:52,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,304,57,3,100,110,ND
138230,1355359,99900432977822920540,14/03/2017,1900-01-01 09:24:58,CHATELET-LES HALLES,1,801,0030050011000,306,57,3,810,801,ND
771507,7309583,99893419525720385279,14/03/2017,1900-01-01 16:23:36,LA CHAPELLE,3,001,0030030220900,332,57,3,100,110,ND
882633,8292954,99893197520576750780,14/03/2017,1900-01-01 08:07:07,LA CHAPELLE,3,001,0030030220900,331,57,3,100,110,ND
411604,4039071,99885759371344508788,14/03/2017,1900-01-01 10:55:52,GARE DE LYON,1,801,0030050091300,215,57,3,810,801,ND
406466,3988437,99884122436997909815,14/03/2017,1900-01-01 18:47:45,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,316,57,3,100,110,ND
916335,8593387,99880878054674708768,14/03/2017,1900-01-01 07:32:25,LA CHAPELLE,3,001,0030030220900,331,57,3,100,110,ND
46285,453522,99875956682574451918,14/03/2017,1900-01-01 08:43:35,INVALIDES,3,1,0030030100900,147,57,3,100,110,ND
155449,1526629,99871793718517942747,14/03/2017,1900-01-01 09:43:29,CHARLES DE GAULLE ETOILE,1,801,0030050170101,204,57,3,810,801,ND
164331,1615041,99865090616538380448,14/03/2017,1900-01-01 08:58:30,NATION,1,801,0030050160101,312,57,3,810,801,ND
100727,986838,99858077337263299753,14/03/2017,1900-01-01 07:01:42,NATION,1,801,0030050160101,314,57,3,810,801,ND
27394,269213,99853657600626595829,14/03/2017,1900-01-01 07:27:12,GARE DE LYON,1,801,0030050091300,319,57,3,810,801,ND
183830,1805705,99843756223309467503,14/03/2017,1900-01-01 11:20:52,CHATELET-LES HALLES,1,801,0030050011000,202,57,3,810,801,ND
288587,2834454,99840746072812507513,14/03/2017,1900-01-01 08:43:05,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,302,57,3,100,110,ND
152491,1496726,99839742424851351007,14/03/2017,1900-01-01 17:27:02,NATION,1,801,0030050160101,308,57,3,810,801,ND
997580,9340678,99837231606723120123,14/03/2017,1900-01-01 06:50:06,AUBER,1,801,0030050060600,316,57,3,810,801,ND
750108,7120726,99834290924212893113,14/03/2017,1900-01-01 19:33:19,DENFERT-ROCHEREAU,1,802,0030050151300,147,57,3,810,802,ND
469482,4601270,99828308005171918988,14/03/2017,1900-01-01 07:32:19,CHARLES DE GAULLE ETOILE,1,801,0030050170101,212,57,3,810,801,ND
15211,151026,99820851947384904207,14/03/2017,1900-01-01 08:57:40,INVALIDES,3,001,0030030100900,148,57,3,100,110,ND
423081,4150036,99806728712993674993,14/03/2017,1900-01-01 18:06:33,CHATELET-LES HALLES,1,801,0030050011000,216,57,3,810,801,ND
689683,6577109,99806465837659299762,14/03/2017,1900-01-01 07:14:54,DENFERT-ROCHEREAU,1,802,0030050151300,243,57,3,810,802,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316032,3102314,00151790233683950779,14/03/2017,1900-01-01 08:54:08,GARE DE LYON,1,801,0030050091300,315,57,3,810,801,ND
870914,8188678,00148609059792232495,14/03/2017,1900-01-01 11:44:32,LA CHAPELLE,3,001,0030030220900,332,57,3,100,110,ND
551658,5347371,00144285042061690767,14/03/2017,1900-01-01 08:43:18,DENFERT-ROCHEREAU,1,802,0030050151300,144,57,3,810,802,ND
276610,2715530,00141230226714872689,14/03/2017,1900-01-01 17:50:28,NATION,1,801,0030050160101,314,57,3,810,801,ND
1387476,13048511,00141165438990600982,14/03/2017,1900-01-01 21:02:36,AUBER,1,801,0030050060600,204,57,3,810,801,ND
427361,4190145,00129517323141777216,14/03/2017,1900-01-01 05:31:46,SAINT-MICHEL NOTRE DAME,1,802,0030050030101,213,57,3,810,802,ND
1071425,10043238,00128796208487530273,14/03/2017,1900-01-01 20:34:37,AUBER,1,801,0030050060600,316,057,3,810,801,ND
9681,95620,00125754902040711929,14/03/2017,1900-01-01 08:52:57,GARE DE LYON,1,801,0030050091300,241,57,3,810,801,ND
286513,2813941,00122468207965078282,14/03/2017,1900-01-01 11:02:15,CHATELET-LES HALLES,1,801,0030050011000,206,57,3,810,801,ND
471917,4625106,00110905051513491022,14/03/2017,1900-01-01 09:07:53,GARE DE LYON,1,801,0030050091300,217,57,3,810,801,ND
462941,4538048,00109027280364585803,14/03/2017,1900-01-01 10:46:39,CHATELET-LES HALLES,1,801,0030050011000,210,57,3,810,801,ND
250230,2456105,00100781863674870380,14/03/2017,1900-01-01 09:01:35,NATION,1,801,0030050160101,222,57,3,810,801,ND
891500,8374612,00087041708300630423,14/03/2017,1900-01-01 06:06:43,DENFERT-ROCHEREAU,1,802,0030050151300,245,57,3,810,802,ND
592679,5712429,00086728170678236049,14/03/2017,1900-01-01 19:49:31,DENFERT-ROCHEREAU,1,802,0030050151300,147,57,3,810,802,ND
1112240,10431450,00070508226049282295,14/03/2017,1900-01-01 05:58:03,AUBER,1,801,0030050060600,304,57,3,810,801,ND
880311,8272295,00064825475088226560,14/03/2017,1900-01-01 19:50:04,DENFERT-ROCHEREAU,1,802,0030050151300,144,57,3,810,802,ND
284302,2792402,00062129926999712804,14/03/2017,1900-01-01 08:15:52,GARE DE LYON,1,801,0030050091300,217,57,3,810,801,ND
45147,442562,00057010716104312971,14/03/2017,1900-01-01 08:56:31,NATION,1,801,0030050160101,304,57,3,810,801,ND
1014905,9506631,00052598807093450955,14/03/2017,1900-01-01 08:38:47,AUBER,1,801,0030050060600,316,57,3,810,801,ND
356063,3492577,00051818845044989947,14/03/2017,1900-01-01 10:12:39,CHARLES DE GAULLE ETOILE,1,801,0030050170101,202,57,3,810,801,ND
262489,2577186,00051034145350182224,14/03/2017,1900-01-01 21:54:10,GARE DE LYON,1,801,0030050091300,314,57,3,810,801,ND
270499,2656685,00048565037642272372,14/03/2017,1900-01-01 19:44:50,GARE DE LYON,1,801,0030050091300,147,57,3,810,801,ND
95734,938311,00036211397697725854,14/03/2017,1900-01-01 06:53:33,GARE DE LYON,1,801,0030050091300,318,57,3,810,801,ND
481562,4719251,00023303297956680995,14/03/2017,1900-01-01 07:58:25,GARE DE LYON,1,801,0030050091300,141,57,3,810,801,ND
71461,701137,00022113714249575489,14/03/2017,1900-01-01 07:46:22,GARE DE LYON,1,801,0030050091300,314,57,3,810,801,ND
410899,4032315,00021214576293073371,14/03/2017,1900-01-01 08:37:38,GARE DE LYON,1,801,0030050091300,141,57,3,810,801,ND
133336,1309377,00009042724675217032,14/03/2017,1900-01-01 20:20:50,INVALIDES,3,001,0030030100900,145,57,3,100,110,ND
675106,6447365,00008693825405237374,14/03/2017,1900-01-01 20:06:26,LA CHAPELLE,3,001,0030030220900,334,57,3,100,110,ND
160773,1578615,00004478098108028807,14/03/2017,1900-01-01 09:20:40,GARE DE LYON,1,801,0030050091300,142,57,3,810,801,ND
112883,1107665,00004208745468920628,14/03/2017,1900-01-01 10:32:31,GARE DE LYON,1,801,0030050091300,243,57,3,810,801,ND

In [66]:
data_sort[data_sort['NUMR_CART'] == '99942113514081512969']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
427225,4188983,99942113514081512969,14/03/2017,1900-01-01 19:48:10,GARE DE LYON,1,801,0030050091300,403,31,3,810,801,ND
427235,4189071,99942113514081512969,14/03/2017,1900-01-01 19:48:52,GARE DE LYON,1,801,0030050091300,301,56,1,810,801,ND
1334594,12548103,99942113514081512969,14/03/2017,1900-01-01 20:00:40,AUBER,1,801,0030050060600,320,057,3,810,801,ND

In [106]:
data_sort[data_sort['NUMR_CART'] == '99893419525720385279']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
1443,7309583,99893419525720385279,14/03/2017,1900-01-01 16:23:36,LA CHAPELLE,3,001,0030030220900,332,57,3,100,110,ND
1444,11441623,99893419525720385279,14/03/2017,1900-01-01 17:27:43,ROME,3,001,0030030311200,102,31,3,100,110,ND
1445,7309671,99893419525720385279,14/03/2017,1900-01-01 17:41:50,LA CHAPELLE,3,001,0030030220900,233,56,1,100,110,ND

In [113]:
y = data_sort[data_sort['NUMR_CART'] == '99884122436997909815']
y

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
1560,8317157,99884122436997909815,14/03/2017,1900-01-01 08:43:06,PORTE MAILLOT,3,001,0030030300100,101,31,3,100,110,ND
1561,12434061,99884122436997909815,14/03/2017,1900-01-01 18:46:51,LA DEFENSE-GRANDE ARCHE,1,801,0030050170401,201,051,1,810,801,ND
1562,3988437,99884122436997909815,14/03/2017,1900-01-01 18:47:45,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,316,57,3,100,110,ND

In [103]:
x_x = data_sort[data_sort['NUMR_CART'] == '00021214576293073371']
x_x.index

Int64Index([887029, 410899, 1327089], dtype='int64')

In [77]:
get_counts(test_1['Lib_Arret'])

{'ABLON': 234,
 'ACHERES-GRAND-CORMIER': 10,
 'ACHERES-VILLE': 709,
 'AEROPORT CHARLES DE GAULLE 1': 614,
 'AEROPORT CHARLES DE GAULLE 2-TGV': 641,
 'ALLEE DE LA TOUR RENDEZ-VOUS': 71,
 'ANDRESY': 5,
 'ANGERVILLE': 26,
 'ARGENTEUIL': 1374,
 'ARPAJON': 257,
 'ASNIERES': 1477,
 'ATHIS-MONS': 161,
 'AUBERGENVILLE-ELISABETHVILLE': 473,
 'AULNAY-SOUS-BOIS': 1285,
 'AUSTERLITZ': 1964,
 'AUVERS-SUR-OISE': 14,
 'AVENUE DU PRESIDENT KENNEDY': 454,
 'AVENUE FOCH': 343,
 'AVENUE HENRI MARTIN': 272,
 'BAGNEUX-SUR-LOING': 7,
 'BALLANCOURT': 145,
 'BECON-LES-BRUYERES': 1819,
 'BELLEVUE': 229,
 'BELLOY-SAINT-MARTIN': 48,
 'BERCY': 3,
 'BESSANCOURT': 156,
 'BEYNES': 24,
 'BIBLIOTHEQUE FRANCOIS MITTERRAND': 2824,
 'BIEVRES': 94,
 'BLANC-MESNIL': 625,
 'BOIGNEVILLE': 14,
 'BOIS-COLOMBES': 885,
 'BOIS-LE-ROI': 134,
 'BOISSISE-LE-ROI': 31,
 "BOISSY-L'AILLERIE": 104,
 'BONDY': 974,
 'BONNIERES': 118,
 'BOUFFEMONT-MOISSELLES': 130,
 'BOUGIVAL': 156,
 'BOULAINVILLIERS': 374,
 'BOULEVARD VICTOR': 793,
 'BOURAY': 352,
 'BOURRON-MARLOTTE-GREZ': 7,
 'BOUSSY-SAINT-ANTOINE': 631,
 'BOUTIGNY-SUR-ESSONNE': 68,
 'BRETIGNY': 1360,
 'BREUILLET-BRUYERES-LE-CHATEL': 112,
 'BREUILLET-VILLAGE': 102,
 'BREVAL': 85,
 'BRUNOY': 613,
 'BRUYERES-SUR-OISE': 5,
 'BUNO-GIRONVILLE': 23,
 'CERGY LE HAUT': 859,
 'CERGY-PREFECTURE': 1160,
 'CERGY-SAINT-CHRISTOPHE': 569,
 'CERNAY': 844,
 'CESSON': 305,
 'CHAMARANDE': 36,
 "CHAMP DE COURSES D'ENGHIEN": 383,
 'CHAMP DE MARS-TOUR EIFFEL': 1516,
 'CHAMPAGNE-SUR-OISE': 50,
 'CHAMPAGNE-SUR-SEINE': 55,
 'CHAMPBENOIST-POIGNY': 32,
 'CHANGIS-SAINT-JEAN': 27,
 'CHANTELOUP-LES-VIGNES': 171,
 'CHAPONVAL': 4,
 'CHARS': 79,
 'CHARTRETTES': 12,
 'CHAVILLE RIVE DROITE': 426,
 'CHAVILLE RIVE GAUCHE': 200,
 'CHAVILLE-VELIZY': 415,
 'CHELLES-GOURNAY': 489,
 "CHEMIN D'ANTONY": 81,
 'CHENAY-GAGNY': 675,
 'CHILLY-MAZARIN': 158,
 'CHOISY-LE-ROI': 1598,
 'CLAMART': 380,
 'CLICHY-LEVALLOIS': 2132,
 'COIGNIERES': 71,
 'COLOMBES': 667,
 'COMBS-LA-VILLE-QUINCY': 919,
 'COMPANS': 10,
 "CONFLANS-FIN-D'OISE": 338,
 'CONFLANS-SAINTE-HONORINE': 728,
 'CORBEIL-ESSONNES': 604,
 'CORMEILLES-EN-PARISIS': 1390,
 'COUDRAY-MONTCEAUX': 23,
 'COUILLY-SAINT-GERMAIN-QUINCY': 15,
 'COULOMMIERS': 72,
 'COURBEVOIE': 751,
 'CRECY-EN-BRIE-LA-CHAPELLE': 26,
 'CRETEIL POMP': 462,
 'CROUY-SUR-OURCQ': 26,
 'DAMMARTIN-JUILLY-SAINT-MARD': 192,
 'DEUIL-MONTMAGNY': 483,
 'DOMONT': 847,
 'DOURDAN': 177,
 'DRANCY': 1222,
 'ECOUEN-EZANVILLE': 532,
 'EGLY': 114,
 'EMERAINVILLE-PONTAULT-COMBAULT': 1157,
 'ENGHIEN-LES-BAINS': 1568,
 'EPINAY-SUR-ORGE': 439,
 'EPINAY-SUR-SEINE': 285,
 'EPINAY-VILLETANEUSE': 1057,
 'EPLUCHES': 9,
 'EPONE-MEZIERES': 247,
 'ERAGNY-NEUVILLE': 230,
 'ERMONT-EAUBONNE': 1567,
 'ERMONT-HALTE': 195,
 'ESBLY': 166,
 'ESSONNES-ROBINSON': 68,
 'ETAMPES': 810,
 'ETRECHY': 173,
 'EVRY': 102,
 'EVRY-COURCOURONNES': 1442,
 'FAREMOUTIERS-POMMEUSE': 34,
 'FONTAINE-LE-PORT': 6,
 'FONTAINEBLEAU-AVON': 445,
 'FONTENAY-LE-FLEURY': 271,
 'FRANCONVILLE-LE-PLESSIS-BOUCHARD': 1411,
 'FRATERNELLE': 132,
 'FREINVILLE-SEVRAN': 98,
 'FREPILLON': 95,
 'GAGNY': 1023,
 'GARANCIERES-LA QUEUE': 80,
 'GARCHES-MARNES-LA-COQUETTE': 441,
 'GARE DE GENNEVILLIERS': 496,
 "GARE DE L'EST": 2994,
 'GARE DE LYON': 303,
 'GARE DU NORD': 7176,
 'GARGAN': 302,
 'GARGENVILLE': 79,
 'GARGES-SARCELLES': 930,
 'GAZERAN': 78,
 'GOUSSAINVILLE': 312,
 'GRAND-BOURG': 65,
 'GRAVIGNY-BALIZY': 168,
 'GRETZ-ARMAINVILLIERS': 170,
 'GRIGNY-CENTRE': 593,
 'GROS-NOYER-SAINT-PRIX': 354,
 'GROSLAY': 270,
 'GUERARD-LA-CELLE-SUR-MORIN': 4,
 'GUILLERVAL': 7,
 'HAUSSMANN-SAINT-LAZARE': 4743,
 'HERBLAY': 1033,
 'HERICY': 9,
 'HOUDAN': 204,
 'HOUILLES-CARRIERES-SUR-SEINE': 1165,
 'IGNY': 86,
 'INVALIDES': 411,
 'ISLES-ARMENTIERES-CONGIS': 14,
 'ISSOU-PORCHEVILLE': 40,
 'ISSY': 741,
 'ISSY-VAL DE SEINE': 1569,
 'IVRY-SUR-SEINE': 1032,
 'JAVEL': 911,
 'JOUY-EN-JOSAS': 118,
 'JUVISY': 1534,
 'JUZIERS': 75,
 "L'ABBAYE": 135,
 "L'ETANG-LA-VILLE": 67,
 "L'ISLE-ADAM-PARMAIN": 160,
 'LA BARRE-ORMESSON': 434,
 'LA CELLE-SAINT-CLOUD': 303,
 'LA COURNEUVE-AUBERVILLIERS': 1654,
 'LA DEFENSE-GRANDE ARCHE': 3342,
 'LA FERTE-ALAIS': 127,
 'LA FERTE-SOUS-JOUARRE': 115,
 'LA FRETTE-MONTIGNY': 209,
 'LA GARENNE-COLOMBES': 1330,
 'LA GRANDE PAROISSE': 11,
 'LA NORVILLE-SAINT-GERMAIN-LES-ARPAJON': 122,
 'LA PLAINE-STADE DE FRANCE': 1507,
 'LA REMISE A JORELLE': 52,
 'LA VERRIERE': 1068,
 'LAGNY-THORIGNY': 597,
 'LARDY': 121,
 'LE BOURGET': 1407,
 'LE BRAS-DE-FER': 592,
 'LE MEE': 496,
 'LE PERRAY': 138,
 'LE PLESSIS-CHENET': 9,
 'LE RAINCY-VILLEMOMBLE-MONTFERMEIL': 625,
 'LE STADE': 510,
 "LE VAL-D'OR": 417,
 'LE VERT-DE-MAISONS': 822,
 'LES ARDOINES': 397,
 'LES BOULLEREAUX-CHAMPIGNY': 536,
 'LES CLAIRIERES-DE-VERNEUIL': 136,
 'LES COQUETIERS': 102,
 'LES GRESILLONS': 389,
 'LES MUREAUX': 475,
 'LES NOUES': 242,
 'LES PAVILLONS-SOUS-BOIS': 178,
 'LES SAULES': 182,
 'LES VALLEES': 1108,
 'LES YVRIS-NOISY-LE-GRAND': 239,
 'LES-ESSARTS-LE-ROI': 181,
 'LIEUSAINT-MOISSY': 1452,
 'LIMAY': 109,
 'LIVRY-SUR-SEINE': 9,
 'LIZY-SUR-OURCQ': 43,
 'LONGJUMEAU': 92,
 'LONGUEVILLE': 69,
 'LOUVECIENNES': 158,
 'LOUVRES': 219,
 'LUZARCHES': 56,
 'LYCEE HENRI SELLIER': 204,
 'MAGENTA': 1238,
 'MAISONS-ALFORT-ALFORTVILLE': 1561,
 'MAISONS-LAFFITTE': 2300,
 'MAISSE': 61,
 'MANTES-LA-JOLIE': 710,
 'MANTES-STATION': 226,
 'MAREIL-MARLY': 9,
 'MAREIL-SUR-MAULDRE': 12,
 'MARLES-EN-BRIE': 40,
 'MARLY-LE-ROI': 399,
 'MAROLLES-EN-HUREPOIX': 232,
 'MASSY-PALAISEAU': 718,
 'MASSY-VERRIERES': 50,
 'MAULE': 49,
 'MAURECOURT': 169,
 'MEAUX': 757,
 'MELUN': 1400,
 'MENNECY': 255,
 'MERIEL': 61,
 "MERY-VAL D'OISE": 148,
 'MEUDON': 141,
 'MEUDON-VAL-FLEURY': 606,
 'MEULAN-HARDRICOURT': 99,
 'MITRY-CLAYE': 730,
 'MONNERVILLE': 8,
 'MONTEREAU': 241,
 "MONTFORT-L'AMAURY-MERE": 95,
 'MONTGERON-CROSNE': 904,
 'MONTGEROULT-COURCELLES': 16,
 'MONTIGNY-BEAUCHAMP': 949,
 'MONTIGNY-SUR-LOING': 31,
 'MONTPARNASSE': 3362,
 'MONTREUIL': 477,
 'MONTRY-CONDE': 11,
 'MONTSOULT-MAFFLIERS': 463,
 'MORET-VENEUX-LES-SABLONS': 158,
 'MORMANT': 27,
 'MORTCERF': 9,
 'MOULIN-GALANT': 127,
 'MOUROUX': 15,
 "MUSEE D'ORSAY": 501,
 'NANGIS': 78,
 'NANTERRE-UNIVERSITE': 31,
 'NANTEUIL-SAACY': 68,
 'NEMOURS-SAINT-PIERRE': 188,
 'NEUVILLE UNIVERSITE': 737,
 'NEZEL-AULNAY': 14,
 'NOGENT-LE-PERREUX': 1015,
 'NOINTEL-MOURS': 75,
 'NOISY-LE-ROI': 33,
 'NOISY-LE-SEC': 2037,
 "ORANGIS-BOIS DE L'EPINE": 330,
 'ORGERUS-BEHOUST': 54,
 'ORLY VILLE': 363,
 'OSNY': 194,
 'OZOIR-LA-FERRIERE': 609,
 'PANTIN': 1414,
 'PARC DES EXPOSITIONS': 855,
 'PEREIRE-LEVALLOIS': 298,
 'PERSAN-BEAUMONT': 357,
 'PETIT-JOUY-LES-LOGES': 22,
 'PETIT-VAUX': 65,
 'PIERREFITTE-STAINS': 494,
 'PIERRELAYE': 221,
 'PLAISIR-GRIGNON': 527,
 'PLAISIR-LES-CLAYES': 192,
 'POISSY': 1182,
 "PONT DE L'ALMA": 882,
 'PONT DE RUNGIS': 38,
 'PONT-CARDINET': 719,
 'PONT-PETIT': 54,
 'PONTHIERRY-PRINGY': 81,
 'PONTOISE': 1122,
 'PORCHEFONTAINE': 273,
 'PORTE MAILLOT': 935,
 'PORTE-DE-CLICHY': 838,
 'PRESLES-COURCELLES': 91,
 'PROVINS': 75,
 'PUTEAUX': 457,
 'RAMBOUILLET': 1259,
 'RIS-ORANGIS': 294,
 'ROISSY-EN-BRIE': 604,
 'ROSA PARKS': 1635,
 'ROSNY-BOIS-PERRIER': 1014,
 'ROSNY-SOUS-BOIS': 1148,
 'ROSNY-SUR-SEINE': 57,
 'ROUGEMONT-CHANTELOUP': 167,
 'SAINT-CHERON': 111,
 'SAINT-CLOUD': 1218,
 'SAINT-CYR': 733,
 'SAINT-DENIS': 2196,
 'SAINT-FARGEAU': 29,
 'SAINT-GERMAIN-BEL-AIR-FOURQUEUX': 41,
 'SAINT-GERMAIN-GRANDE-CEINTURE': 6,
 'SAINT-GRATIEN': 585,
 'SAINT-LEU-LA-FORET': 426,
 'SAINT-MAMMES': 65,
 "SAINT-MARTIN-D'ETAMPES": 118,
 'SAINT-MICHEL NOTRE DAME': 2212,
 'SAINT-MICHEL-SUR-ORGE': 658,
 'SAINT-NOM-LA-BRETECHE-FORET-DE-MARLY': 141,
 'SAINT-OUEN': 1248,
 "SAINT-OUEN-L'AUMONE": 352,
 "SAINT-OUEN-L'AUMONE-LIESSE": 337,
 "SAINT-OUEN-L'AUMONE-QUARTIER DE L'EGLISE": 123,
 'SAINT-QUENTIN-EN-YVELINES': 3007,
 'SAINTE-COLOMBE-SEPTVEILLES': 10,
 'SAINTE-GENEVIEVE-DES-BOIS': 767,
 'SANNOIS': 1266,
 'SANTEUIL-LE-PERCHAY': 13,
 'SARCELLES-SAINT-BRICE': 417,
 'SARTROUVILLE': 962,
 'SAVIGNY-LE-TEMPLE-NANDY': 469,
 'SAVIGNY-SUR-ORGE': 1405,
 'SERMAISE': 30,
 'SEUGY': 13,
 'SEVRAN-BEAUDOTTES': 743,
 'SEVRAN-LIVRY': 863,
 'SEVRES RIVE GAUCHE': 202,
 "SEVRES-VILLE-D'AVRAY": 380,
 'SOUPPES': 87,
 'STADE DE FRANCE-SAINT-DENIS': 2514,
 'SURESNES-MONT VALERIEN': 652,
 'SURVILLIERS-FOSSES': 551,
 'TACOIGNIERES-RICHEBOURG': 53,
 'TAVERNY': 341,
 'THIEUX-NANTOUILLET': 5,
 'THOMERY': 8,
 'THUN-LE-PARADIS': 122,
 'TOURNAN': 279,
 'TRAPPES': 719,
 'TRIEL-SUR-SEINE': 150,
 'TRILPORT': 46,
 'US': 37,
 'VAIRES-TORCY': 407,
 "VAL-D'ARGENTEUIL": 768,
 'VALMONDOIS': 99,
 'VANVES-MALAKOFF': 278,
 'VAUBOYEN': 39,
 'VAUCELLES': 121,
 'VAUCRESSON': 271,
 'VAUX-SUR-SEINE': 123,
 "VERNEUIL-L'ETANG": 39,
 'VERNOU-SUR-SEINE': 4,
 'VERNOUILLET-VERNEUIL': 922,
 'VERSAILLES CHATEAU': 753,
 'VERSAILLES RIVE DROITE': 855,
 'VERSAILLES-CHANTIERS': 2729,
 'VERT-GALANT': 634,
 'VIARMES': 73,
 'VIGNEUX-SUR-SEINE': 1344,
 'VILLABE': 47,
 'VILLENEUVE-LE-ROI': 332,
 'VILLENEUVE-SAINT-GEORGES': 860,
 'VILLENEUVE-TRIAGE': 104,
 'VILLENNES-SUR-SEINE': 126,
 'VILLEPARISIS-MITRY-LE-NEUF': 1308,
 'VILLEPINTE': 381,
 'VILLEPREUX-LES-CLAYES': 485,
 'VILLIERS-LE-BEL-GONESSE-ARNOUVILLE': 754,
 'VILLIERS-MONTBARBIN': 6,
 'VILLIERS-NEAUPHLE PONTCHARTRAIN': 174,
 'VILLIERS-SUR-MARNE-PLESSIS-TREVISE': 1571,
 'VIROFLAY RIVE DROITE': 273,
 'VIROFLAY RIVE GAUCHE': 621,
 'VIRY-CHATILLON': 199,
 'VITRY-SUR-SEINE': 916,
 'VOSVES': 8,
 'VULAINES-SUR-SEINE-SAMOREAU': 5,
 'YERRES': 971}

In [80]:
test_lyon = data_sort[data_sort['Lib_Arret'] =='GARE DE LYON']

In [97]:
get_counts(data_sort['COD_NATR_VALD'])

{'01 ': 11028,
 '011': 18169,
 '02 ': 4273,
 '03 ': 198,
 '031': 27082,
 '04 ': 255,
 '041': 3297,
 '043': 62,
 '051': 5025,
 '052': 3703,
 '056': 260,
 '057': 444,
 '1': 187080,
 '11': 360023,
 '11 ': 7042,
 '17': 7784,
 '17 ': 569,
 '2': 66376,
 '22': 34,
 '22 ': 2,
 '3': 7503,
 '31': 482642,
 '4': 10209,
 '41': 47893,
 '42': 27,
 '43': 2586,
 '51': 62738,
 '52': 46247,
 '56': 10891,
 '57': 19437,
 'ND ': 6}

In [109]:
entree = ['01 ', '011', '031', '041', '043', '051', '1', '11','11 ','17', '17 ', '31', '41', '43', '51' ]
sortie = ['02 ', '052', '2', '52']
entree_c = ['03 ', '056', '22', '22 ', '3', '42', '56']
sortie_c = ['04 ', '057', '4', '57'] 
columns = ['trip_id', 'client_id',  'O', 'D', 'Ot', 'Dt', 'mode']
T = 7200

In [130]:
def es_model(index, data):
    data_1 = [1, data.loc[index]['NUMR_CART'], data.loc[index]['Lib_Arret'], 'No',  data.loc[index]['HEUR_VALD'], 'No', 'No']
    data_2 = [1, data.loc[index+1]['NUMR_CART'], data.loc[index+1]['Lib_Arret'], 'No',  data.loc[index+1]['HEUR_VALD'], 'No', 'No']
    return pd.DataFrame([data_1,data_2],columns=columns)

In [ ]:
def trips(data, index):

In [131]:
es_model(1560, y)

,trip_id,client_id,O,D,Ot,Dt,mode
0,1,99884122436997909815,PORTE MAILLOT,No,1900-01-01 08:43:06,No,No
1,1,99884122436997909815,LA DEFENSE-GRANDE ARCHE,No,1900-01-01 18:46:51,No,No

In [111]:
pd.DataFrame([[1,1,1,1,1,1,1], [2,2,2,2,2,2,2]],columns=columns)

   trip_id  client_id  O  D  Ot  Dt  mode
0        1          1  1  1   1   1     1
1        2          2  2  2   2   2     2

In [127]:
y.loc[1562]['Lib_Arret']

#new = pd.DataFrame([], columns=columns)

'LA DEFENSE-GRANDE ARCHE'