In [38]:
import pandas as pd
import numpy as np
path_arret = "F:/Stage/data/AFC/DM arret.txt"
path_mode =  "F:/Stage/data/AFC/DM mode.txt"
path_nature = "F:/Stage/data/AFC/DM nature.txt"
path_transporteur = "F:/Stage/data/AFC/DM transporteur.txt"
path_AFC = "F:/Stage/data/AFC/donnees detaillees 14 mars 2017.txt"

In [41]:
pd.options.display.max_rows  = 20

#### 1. Mode dictionnery

In [51]:
mode = pd.read_csv(path_mode, header = 0, delimiter="\t")
mode

   COD_MOD LIBL_COUR_MOD LIBL_LONG_MOD
0        6          TRAM    TRAMWAY T4
1        4          TRAM       TRAMWAY
2        2           BUS           BUS
3        3         METRO         METRO
4       -1            ND    NON DEFINI
5        1           FER         FERRE

#### 2. Nature dictionnery

In [50]:
nature = pd.read_csv(path_nature, header = 0, delimiter="\t")
nature

,COD_NATR_VALD,COD_ENTR_SORT,LIBL_NATR_VALD,COD_MOD,COD_NATR_VALD_AGRG
0,3,3,Entree Correspondance,1,3
1,05A,1,Entree RER,1,2
2,057,3,Sortie Correspondance RER,3,5
3,17,1,Entree Bus,2,1
4,23,3,Sortie Correspondance RER,3,5
5,041,1,entree Tramway,4,7
6,05B,2,Sortie RER,1,4
7,02,2,Sortie,1,4
8,16,3,Correspondance Bus,2,1
9,01,1,Entree,-1,10
...,...,...,...,...,...
25,043,1,entree Tramway Sol.,4,7
26,052,2,Sortie RER,1,4
27,5B,2,Sortie RER,1,4
28,03,3,Entree Correspondance,1,3
29,051,1,Entree RER,1,2
30,5A,1,Entree RER,1,2
31,006,3,Correspondance Bus,2,1
32,04A,1,entree Tramway,4,7
33,4,3,Sortie Correspondance,3,5
34,010,1,Entree Bus,2,1

#### 3. Arret dictionnery

In [67]:
arret = pd.read_csv(path_arret, header = 0, delimiter="\t", nrows = 8)
arret

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 4: invalid continuation byte