In [1]:
import pandas as pd

In [30]:
path_1 =  'F:/Stage/data/AFC/counts/counts_1'
path_2 =  'F:/Stage/data/AFC/counts/counts_2'
path_3 =  'F:/Stage/data/AFC/counts/counts_3'
path_4 =  'F:/Stage/data/AFC/counts/counts_4'

In [31]:
data_2 = pd.read_csv(path_2, delimiter="\t", header = 0, encoding="latin-1")
data_3 = pd.read_csv(path_3, delimiter="\t", header = 0, encoding="latin-1")
data_4 = pd.read_csv(path_4, delimiter="\t", header = 0, encoding="latin-1")

E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
data_2['COD_NATR_VALD'] = data_2['COD_NATR_VALD'].astype('str')
data_2['HEUR_VALD'] = pd.to_datetime(data_2['HEUR_VALD'], format='%H:%M:%S')
data_2_sort = data_2.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_2_sort = data_2_sort.reset_index(drop = True)

In [56]:
data_3['COD_NATR_VALD'] = data_3['COD_NATR_VALD'].astype('str')
data_3['HEUR_VALD'] = pd.to_datetime(data_3['HEUR_VALD'], format='%H:%M:%S')
data_3_sort = data_3.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_3_sort = data_3_sort.reset_index(drop = True)

In [57]:
data_3_sort

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,6289284,99999942845366768893,14/03/2017,1900-01-01 10:57:31,PYRENEES,3,001,0030030241400,101,31,3,100,110,ND
1,6289196,99999942845366768893,14/03/2017,1900-01-01 17:30:51,SAINT-GERMAIN-DES-PRES,3,001,0030030021500,232,31,3,100,110,ND
2,1723316,99999942845366768893,14/03/2017,1900-01-01 18:50:29,CHATELET,3,001,0030030010800,401,31,3,100,110,ND
3,7153827,99999577198461515588,14/03/2017,1900-01-01 08:00:58,HOTEL DE VILLE DE FONTENAY,3,001,0030010124016,2125,11,2,100,100,124
4,7153915,99999577198461515588,14/03/2017,1900-01-01 08:20:46,VAL DE FONTENAY RER,3,001,0030010118015,6803,11,2,100,100,118
5,11376859,99999577198461515588,14/03/2017,1900-01-01 19:25:28,VAL DE FONTENAY RER,3,001,0030010124022,9042,11,2,100,100,124
6,354119,99999492695837542235,14/03/2017,1900-01-01 08:02:30,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,611,11,2,100,100,151
7,354031,99999492695837542235,14/03/2017,1900-01-01 10:11:44,PLACE DU 19 MARS 1962,3,001,0030010151034,11948,11,2,100,100,151
8,354207,99999492695837542235,14/03/2017,1900-01-01 12:29:00,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,1753,11,2,100,100,151
9,6550859,99998853895565292735,14/03/2017,1900-01-01 07:56:20,MAIRIE DE ROMAINVILLE,3,001,0030010105047,983,11,2,100,100,105
10,6550947,99998853895565292735,14/03/2017,1900-01-01 08:10:03,MAIRIE DES LILAS,3,001,0030030230300,104,31,3,100,110,ND
11,6551035,99998853895565292735,14/03/2017,1900-01-01 17:09:35,PYRENEES,3,001,0030030241400,103,31,3,100,110,ND
12,11137569,99998786964033820793,14/03/2017,1900-01-01 08:29:10,RICHELIEU-DROUOT,3,001,0030030110700,401,31,3,100,110,ND
13,2536801,99998786964033820793,14/03/2017,1900-01-01 15:53:07,LA MUETTE,3,001,0030030171100,102,31,3,100,110,ND
14,2536889,99998786964033820793,14/03/2017,1900-01-01 20:12:29,RUE DU BAC,3,001,0030030021000,103,31,3,100,110,ND
15,12431870,99998614886067744792,14/03/2017,1900-01-01 09:03:24,GARE DE LYON,3,001,0030030090800,103,031,3,100,110,ND
16,8265510,99998614886067744792,14/03/2017,1900-01-01 18:21:02,LOUIS BLANC,3,001,0030030221000,102,31,3,100,110,ND
17,3943302,99998614886067744792,14/03/2017,1900-01-01 19:30:47,PORTE DE LA VILLETTE,3,001,0030030030400,105,31,3,100,110,ND
18,7265193,99997990729919865119,14/03/2017,1900-01-01 09:13:04,MARCADET-POISSONNIERS,3,001,0030030200900,102,31,3,100,110,ND
19,7265105,99997990729919865119,14/03/2017,1900-01-01 19:43:54,MAIRIE DE CLICHY,3,001,0030030190100,102,31,3,100,110,ND
20,2810545,99997990729919865119,14/03/2017,1900-01-01 19:59:14,BROCHANT - CARDINET,3,001,0030010031034,14809,11,2,100,100,31
21,10789855,99997955226236728234,14/03/2017,1900-01-01 18:07:30,CERGY-SAINT-CHRISTOPHE,1,801,382499,22331201,1,1,810,801,ND
22,10789679,99997955226236728234,14/03/2017,1900-01-01 18:35:00,Gare d'Houilles Carrières sur Seine,119,248,19079,3575,11,2,19,248,19
23,10789767,99997955226236728234,14/03/2017,1900-01-01 18:41:19,HOUILLES-CARRIERES-SUR-SEINE,1,801,386409,30320704,2,1,810,801,ND
24,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
25,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
26,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND
27,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
28,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
29,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392855,851488,00001785442334661973,14/03/2017,1900-01-01 16:46:42,TISSONVILLIERS,3,001,0030010270011,8053,11,2,100,100,270
1392856,5483368,00001785442334661973,14/03/2017,1900-01-01 17:12:50,GOUSSAINVILLE,2,002,276246,26521001,2,1,800,804,ND
1392857,9623416,00001785442334661973,14/03/2017,1900-01-01 17:35:00,Gosa-Goussai,142,14,427,839,11,2,14,14,32
1392858,8288397,00000842771820414698,14/03/2017,1900-01-01 07:28:24,SIMPLON,3,001,0030030201000,101,31,3,100,110,ND
1392859,8288485,00000842771820414698,14/03/2017,1900-01-01 15:26:41,COLONEL FABIEN,3,001,0030030221500,101,31,3,100,110,ND
1392860,12392277,00000842771820414698,14/03/2017,1900-01-01 18:37:28,JAURES,3,001,0030030221200,103,31,3,100,110,ND
1392861,5559296,00000765388848043121,14/03/2017,1900-01-01 06:51:08,JEAN JAURES - DIVISION LECLERC,3,001,0030010143104,2764,11,2,100,100,143
1392862,909376,00000765388848043121,14/03/2017,1900-01-01 07:14:52,AVENUE DE ROSNY,3,001,0030010147076,3288,11,2,100,100,147
1392863,5559384,00000765388848043121,14/03/2017,1900-01-01 17:04:32,PONT DE BONDY - AVENUE DE ROSNY,3,001,0030010143137,11636,11,2,100,100,143
1392864,11393341,00000700438794134358,14/03/2017,1900-01-01 07:14:21,BONNIERES,2,002,415893,2321604,1,1,800,854,ND
1392865,11393429,00000700438794134358,14/03/2017,1900-01-01 08:17:25,SAINT-LAZARE,3,001,0030030060900,205,31,3,100,110,ND
1392866,7182189,00000700438794134358,14/03/2017,1900-01-01 17:45:25,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,205,31,3,100,110,ND
1392867,3284924,00000419190216590511,14/03/2017,1900-01-01 12:13:29,MARCEL SEMBAT,3,001,0030030280800,101,31,3,100,110,ND
1392868,3285100,00000419190216590511,14/03/2017,1900-01-01 14:05:14,VICTOR HUGO,3,001,0030030181000,133,31,3,100,110,ND
1392869,3285012,00000419190216590511,14/03/2017,1900-01-01 16:48:39,HAVRE-CAUMARTIN,3,001,0030030060700,102,31,3,100,110,ND
1392870,6386426,00000373223616330062,14/03/2017,1900-01-01 09:11:46,PORTE MAILLOT,3,001,0030030300100,101,31,3,100,110,ND
1392871,10536506,00000373223616330062,14/03/2017,1900-01-01 17:58:46,FELIX FAURE,3,001,0030010258062,4319,11,2,100,100,258
1392872,1852226,00000373223616330062,14/03/2017,1900-01-01 18:09:30,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,205,31,3,100,110,ND
1392873,11433287,00000372162654860645,14/03/2017,1900-01-01 09:10:04,JASMIN,3,001,0030030071500,132,31,3,100,110,ND
1392874,2841759,00000372162654860645,14/03/2017,1900-01-01 13:43:11,PORTE DE CLIGNANCOURT,3,001,0030030200100,106,31,3,100,110,ND
1392875,2841847,00000372162654860645,14/03/2017,1900-01-01 14:43:51,RIQUET,3,001,0030030220800,102,31,3,100,110,ND
1392876,10433410,00000314929418127926,14/03/2017,1900-01-01 08:52:00,Montjay,106,6,670,46643,11,2,6,6,3
1392877,1787586,00000314929418127926,14/03/2017,1900-01-01 13:50:00,Gare d'Orsay Ville - Arrivée,106,6,600,46671,11,2,6,6,3
1392878,1787498,00000314929418127926,14/03/2017,1900-01-01 18:17:00,Centre Commercial ulis 2,106,6,490,1822,11,2,6,6,25
1392879,9286482,00000304078301919439,14/03/2017,1900-01-01 12:53:35,DUPLEIX,3,001,0030030170700,103,31,3,100,110,ND
1392880,352546,00000304078301919439,14/03/2017,1900-01-01 18:35:27,SEVRES-LECOURBE,3,001,0030030020300,102,31,3,100,110,ND
1392881,9286394,00000304078301919439,14/03/2017,1900-01-01 19:58:06,DUPLEIX,3,001,0030030170700,104,31,3,100,110,ND
1392882,11591792,00000269783769843637,14/03/2017,1900-01-01 09:05:26,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,1044,11,2,100,100,190
1392883,11591880,00000269783769843637,14/03/2017,1900-01-01 15:34:32,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,6173,11,2,100,100,190
1392884,11591968,00000269783769843637,14/03/2017,1900-01-01 17:11:54,MARCHE DE CLAMART,3,001,0030010190011,3132,11,2,100,100,190

In [58]:
test = data_3_sort[data_3_sort['NUMR_CART'] == '99999942845366768893']
test

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,6289284,99999942845366768893,14/03/2017,1900-01-01 10:57:31,PYRENEES,3,001,0030030241400,101,31,3,100,110,ND
1,6289196,99999942845366768893,14/03/2017,1900-01-01 17:30:51,SAINT-GERMAIN-DES-PRES,3,001,0030030021500,232,31,3,100,110,ND
2,1723316,99999942845366768893,14/03/2017,1900-01-01 18:50:29,CHATELET,3,001,0030030010800,401,31,3,100,110,ND

In [19]:
entree = ['01 ', '011', '031', '041', '043', '051', '1', '11','11 ','17', '17 ', '31', '41', '43', '51' ]
sortie = ['02 ', '052', '2', '52']
entree_c = ['03 ', '056', '22', '22 ', '3', '42', '56']
sortie_c = ['04 ', '057', '4', '57'] 
columns = ['trip_id', 'client_id',  'O', 'D', 'Ot', 'Dt', 'mode', 'unkonwn']
T = 7200

In [21]:
data_1 = ['1', '2', '3', '4', '5', '6', '7','all']
data_2 = ['7','6','5','4','3','2','1', 'all']
test = pd.DataFrame([],columns=columns)
test_2 = pd.DataFrame([data_1],columns=columns)
test_3 = pd.DataFrame([data_2],columns=columns)

In [27]:
test_2.loc[1] = data_2
test_2

  trip_id client_id  O  D Ot Dt mode unkonwn
0       1         2  3  4  5  6    7     all
1       7         6  5  4  3  2    1     all

In [50]:
def  my_model(data, n, index):
    i = 0
    trip_id = 0
    transfer_id = 0
    trips = pd.DataFrame([], columns=columns)
    start = data.loc[index]     #start would be used in the final trip
    #start_data = [trip_id, start['NUMR_CART'], start['Lib_Arret'], '', start['HEUR_VALD'], '', start['COD_TLB_RES'], 'd' ]
   # trips.loc[0] = start_data
    trip_start_time = start['HEUR_VALD']   
    while i+1 < n:
        first = data.loc[index+i]
        second = data.loc[index+i+1]
        first_data = [trip_id, first['NUMR_CART'], first['Lib_Arret'], '', first['HEUR_VALD'], '', first['COD_TLB_RES'], 'd' ]
        trips.loc[transfer_id] = first_data
        trips.loc[transfer_id, 'D'] = second['Lib_Arret']
        trips.loc[transfer_id, 'Dt'] = second['HEUR_VALD']
        if second['COD_NATR_VALD'] in sortie:
            trips.loc[transfer_id, 'unkonwn'] = 'no'
            transfer_id = transfer_id + 1 
            i = i + 2
        else:
            trips.loc[transfer_id, 'unkonwn'] = 'd'
            transfer_id = transfer_id + 1
            i = i + 1
            if (second['HEUR_VALD'] - trip_start_time).seconds > T:
                trip_start_time = second['HEUR_VALD']
                trip_id = trip_id + 1
    if (i+1) == n:
        last_data = [trip_id, second['NUMR_CART'], second['Lib_Arret'], '', second['HEUR_VALD'], '', second['COD_TLB_RES'], 'd' ]
        trips.loc[transfer_id] = last_data
        trips.loc[transfer_id, 'trip_id'] = trip_id
        trips.loc[transfer_id, 'D'] = start['Lib_Arret']
        trips.loc[transfer_id, 'unkonwn'] = 'd'
    return trips

In [59]:
my_model(test, 3, 0)

,trip_id,client_id,O,D,Ot,Dt,mode,unkonwn
0,0,99999942845366768893,PYRENEES,SAINT-GERMAIN-DES-PRES,1900-01-01 10:57:31,1900-01-01 17:30:51,001,d
1,1,99999942845366768893,SAINT-GERMAIN-DES-PRES,CHATELET,1900-01-01 17:30:51,1900-01-01 18:50:29,001,d
2,1,99999942845366768893,CHATELET,PYRENEES,1900-01-01 18:50:29,,001,d